In [ ]:
pip install gql[all]

Requirement already satisfied: gql[all] in /usr/local/lib/python3.10/dist-packages (3.4.1)
Requirement already satisfied: graphql-core<3.3,>=3.2 in /usr/local/lib/python3.10/dist-packages (from gql[all]) (3.2.3)
Requirement already satisfied: yarl<2.0,>=1.6 in /usr/local/lib/python3.10/dist-packages (from gql[all]) (1.9.2)
Requirement already satisfied: backoff<3.0,>=1.11.1 in /usr/local/lib/python3.10/dist-packages (from gql[all]) (2.2.1)
Requirement already satisfied: aiohttp<3.9.0,>=3.7.1 in /usr/local/lib/python3.10/dist-packages (from gql[all]) (3.8.4)
Requirement already satisfied: requests<3,>=2.26 in /usr/local/lib/python3.10/dist-packages (from gql[all]) (2.27.1)
Requirement already satisfied: requests-toolbelt<1,>=0.9.1 in /usr/local/lib/python3.10/dist-packages (from gql[all]) (0.10.1)
Requirement already satisfied: urllib3<2,>=1.26 in /usr/local/lib/python3.10/dist-packages (from gql[all]) (1.26.16)
Requirement already satisfied: botocore<2,>=1.21 in /usr/local/lib/python3.10/dist-packages (from gql[all]) (1.31.1)
Requirement already satisfied: websockets<11,>=10 in /usr/local/lib/python3.10/dist-packages (from gql[all]) (10.4)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp<3.9.0,>=3.7.1->gql[all]) (23.1.0)
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp<3.9.0,>=3.7.1->gql[all]) (2.0.12)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp<3.9.0,>=3.7.1->gql[all]) (6.0.4)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.10/dist-packages (from aiohttp<3.9.0,>=3.7.1->gql[all]) (4.0.2)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp<3.9.0,>=3.7.1->gql[all]) (1.3.3)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp<3.9.0,>=3.7.1->gql[all]) (1.3.1)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /usr/local/lib/python3.10/dist-packages (from botocore<2,>=1.21->gql[all]) (1.0.1)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.10/dist-packages (from botocore<2,>=1.21->gql[all]) (2.8.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.26->gql[all]) (2023.5.7)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.26->gql[all]) (3.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<2,>=1.21->gql[all]) (1.16.0)

In [ ]:
import pandas as pd
import plotly.express as px
import json

from gql import gql, Client
from gql.transport.requests import RequestsHTTPTransport

# POOL

## Apeswap

In [ ]:
transport = RequestsHTTPTransport(
    url='https://api.thegraph.com/subgraphs/name/messari/apeswap-bsc',
    verify=True,
    retries=3)

client = Client(
    transport = transport)

#First 1000 pool
query1 = gql('''
query {
        liquidityPools(orderBy: totalValueLockedUSD,
                                orderDirection: desc,
                                first: 1000){
            id
            totalValueLockedUSD
            fees {
              feePercentage
            }
            inputTokens {
              id
              symbol
              decimals
    }
  }
      }
''')

response1 = client.execute(query1)

df11 = pd.json_normalize(response1['liquidityPools'],max_level=1)
df12 = pd.json_normalize(df11['inputTokens'].apply(pd.Series)[0])
df13 = pd.json_normalize(df11['inputTokens'].apply(pd.Series)[1])
df14 = pd.json_normalize(df11['fees'].apply(pd.Series)[2])

apeswap_pool1 = pd.concat([df11[['id','totalValueLockedUSD']],df14,df12,df13],axis=1)
apeswap_pool1

#pool 1001-2000
query2 = gql('''
query {
        liquidityPools(orderBy: totalValueLockedUSD,
                                orderDirection: desc,
                                first: 1000,
                                skip: 1000){
            id
            totalValueLockedUSD
            fees {
              feePercentage
            }
            inputTokens {
              id
              symbol
              decimals
    }
  }
      }
''')

response2 = client.execute(query2)

df21 = pd.json_normalize(response2['liquidityPools'],max_level=1)
df22 = pd.json_normalize(df21['inputTokens'].apply(pd.Series)[0])
df23 = pd.json_normalize(df21['inputTokens'].apply(pd.Series)[1])
df24 = pd.json_normalize(df21['fees'].apply(pd.Series)[2])

apeswap_pool2 = pd.concat([df21[['id','totalValueLockedUSD']],df24,df22,df23],axis=1)
apeswap_pool2

#pool 2001-3000
query3 = gql('''
query {
        liquidityPools(orderBy: totalValueLockedUSD,
                                orderDirection: desc,
                                first: 1000,
                                skip: 2000){
            id
            totalValueLockedUSD
            fees {
              feePercentage
            }
            inputTokens {
              id
              symbol
              decimals
    }
  }
      }
''')

response3 = client.execute(query3)

df31 = pd.json_normalize(response3['liquidityPools'],max_level=1)
df32 = pd.json_normalize(df31['inputTokens'].apply(pd.Series)[0])
df33 = pd.json_normalize(df31['inputTokens'].apply(pd.Series)[1])
df34 = pd.json_normalize(df31['fees'].apply(pd.Series)[2])

apeswap_pool3 = pd.concat([df31[['id','totalValueLockedUSD']],df34,df32,df33],axis=1)
apeswap_pool3

#pool 3001-4000
query4 = gql('''
query {
        liquidityPools(orderBy: totalValueLockedUSD,
                                orderDirection: desc,
                                first: 1000,
                                skip: 3000){
            id
            totalValueLockedUSD
            fees {
              feePercentage
            }
            inputTokens {
              id
              symbol
              decimals
    }
  }
      }
''')

response4 = client.execute(query4)

df41 = pd.json_normalize(response4['liquidityPools'],max_level=1)
df42 = pd.json_normalize(df41['inputTokens'].apply(pd.Series)[0])
df43 = pd.json_normalize(df41['inputTokens'].apply(pd.Series)[1])
df44 = pd.json_normalize(df41['fees'].apply(pd.Series)[2])

apeswap_pool4 = pd.concat([df41[['id','totalValueLockedUSD']],df44,df42,df43],axis=1)
apeswap_pool4

#pool 4001-5000
query5 = gql('''
query {
        liquidityPools(orderBy: totalValueLockedUSD,
                                orderDirection: desc,
                                first: 1000,
                                skip: 4000){
            id
            totalValueLockedUSD
            fees {
              feePercentage
            }
            inputTokens {
              id
              symbol
              decimals
    }
  }
      }
''')

response5 = client.execute(query5)

df51 = pd.json_normalize(response5['liquidityPools'],max_level=1)
df52 = pd.json_normalize(df51['inputTokens'].apply(pd.Series)[0])
df53 = pd.json_normalize(df51['inputTokens'].apply(pd.Series)[1])
df54 = pd.json_normalize(df51['fees'].apply(pd.Series)[2])

apeswap_pool5 = pd.concat([df51[['id','totalValueLockedUSD']],df54,df52,df53],axis=1)
apeswap_pool5

#Combination
apeswap_pools = pd.concat([apeswap_pool1,apeswap_pool2,apeswap_pool3,apeswap_pool4,apeswap_pool5], ignore_index=True)
apeswap_pools.columns = ['pool_address','tvl','fee',
                         'token1','token1_symbol','token1_decimals',
                         'token2','token2_symbol','token2_decimals']
Name = pd.Series(["apeswap" for x in range(len(apeswap_pools.index))])
apeswap_pools.insert(loc=0, column='Name', value=Name)
apeswap_pools

,Name,pool_address,tvl,fee,token1,token1_symbol,token1_decimals,token2,token2_symbol,token2_decimals
0,apeswap,0x4f263c2f03d8dcd7dea928de0224e34cebd9f03c,1476584.585284526832494784072883626,0.2,0x55d398326f99059ff775485246999027b3197955,USDT,18,0xd88ca08d8eec1e9e09562213ae83a7853ebb5d28,XWIN,18
1,apeswap,0x2e707261d086687470b515b320478eb1c88d49bb,746768.7442269483500647553156235727,0.2,0x55d398326f99059ff775485246999027b3197955,USDT,18,0xe9e7cea3dedca5984780bafc599bd69add087d56,BUSD,18
2,apeswap,0xf65c1c0478efde3c19b49ecbe7acc57bb6b1d713,603181.1784138764013437089531410891,0.2,0x603c7f932ed1fc6575303d8fb018fdcbb0f39a95,BANANA,18,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18
3,apeswap,0x51e6d27fa57373d8d4c256231241053a70cb1d93,516687.1748000223727816554461723913,0.2,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18,0xe9e7cea3dedca5984780bafc599bd69add087d56,BUSD,18
4,apeswap,0xc087c78abac4a0e900a327444193dbf9ba69058e,479997.4675427287611485309915416496,0.2,0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d,USDC,18,0xe9e7cea3dedca5984780bafc599bd69add087d56,BUSD,18
...,...,...,...,...,...,...,...,...,...,...
4485,apeswap,0x01ed5caf68d340fa529f212841358b6107153dbb,0,0.2,0x6679eb24f59dfe111864aec72b443d1da666b360,ARV,8,0xc17553fafd6f0944e4008f39cdf01a4b33652a52,RAD,18
4486,apeswap,0x01d7c61fab8cfacaf4f08e5a17399d8ad7857ccf,0,0.2,0x62907ad5c2d79e2a4f048a90ae2b49d062a773f3,TWIN,18,0xcce8cbb2f56de52c29cc5732aafe3445ccf6005f,IOUtTeamFund,18
4487,apeswap,0x01196befb94839b4fb9e5891e5f2b2970e3ac068,0,0.2,0x13221778dd4c06315a7922cae6ee939800d9c9d6,FAKEBUSD,18,0x8832cea7199287b9713c7d7d91df4dc4a8dfa86a,FAKENALIS,18
4488,apeswap,0x01099ae51b4f07ec8eab29c8829111f09f8e0fbb,0,0.2,0x4a6db8f47b8c827aaa846ba017e9809bb92cf6b2,BDOGEX,18,0x8fba8c1f92210f24fb277b588541ac1952e1aac8,GRX,9
4489,apeswap,0x0067cec749665dc8fc3224fbae44af7c482e110a,0,0.2,0xb8d17f8380bb778d3b3807c32f4434c1675cfecc,BABYMATIC,18,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18

## Biswap

In [ ]:
transport = RequestsHTTPTransport(
    url='https://api.thegraph.com/subgraphs/name/messari/biswap-bsc',
    verify=True,
    retries=3)

client = Client(
    transport = transport)

#First 1000 pool
query1 = gql('''
query {
        liquidityPools(orderBy: totalValueLockedUSD,
                                orderDirection: desc,
                                first: 1000){
            id
            totalValueLockedUSD
            fees {
              feePercentage
            }
            inputTokens {
              id
              symbol
              decimals
    }
  }
      }
''')

response1 = client.execute(query1)

df11 = pd.json_normalize(response1['liquidityPools'],max_level=1)
df12 = pd.json_normalize(df11['inputTokens'].apply(pd.Series)[0])
df13 = pd.json_normalize(df11['inputTokens'].apply(pd.Series)[1])
df14 = pd.json_normalize(df11['fees'].apply(pd.Series)[2])

biswap_pool1 = pd.concat([df11[['id','totalValueLockedUSD']],df14,df12,df13],axis=1)
biswap_pool1

#pool 1001-2000
query2 = gql('''
query {
        liquidityPools(orderBy: totalValueLockedUSD,
                                orderDirection: desc,
                                first: 1000,
                                skip: 1000){
            id
            totalValueLockedUSD
            fees {
              feePercentage
            }
            inputTokens {
              id
              symbol
              decimals
    }
  }
      }
''')

response2 = client.execute(query2)

df21 = pd.json_normalize(response2['liquidityPools'],max_level=1)
df22 = pd.json_normalize(df21['inputTokens'].apply(pd.Series)[0])
df23 = pd.json_normalize(df21['inputTokens'].apply(pd.Series)[1])
df24 = pd.json_normalize(df21['fees'].apply(pd.Series)[2])

biswap_pool2 = pd.concat([df21[['id','totalValueLockedUSD']],df24,df22,df23],axis=1)
biswap_pool2

#pool 2001-3000
query3 = gql('''
query {
        liquidityPools(orderBy: totalValueLockedUSD,
                                orderDirection: desc,
                                first: 1000,
                                skip: 2000){
            id
            totalValueLockedUSD
            fees {
              feePercentage
            }
            inputTokens {
              id
              symbol
              decimals
    }
  }
      }
''')

response3 = client.execute(query3)

df31 = pd.json_normalize(response3['liquidityPools'],max_level=1)
df32 = pd.json_normalize(df31['inputTokens'].apply(pd.Series)[0])
df33 = pd.json_normalize(df31['inputTokens'].apply(pd.Series)[1])
df34 = pd.json_normalize(df31['fees'].apply(pd.Series)[2])

biswap_pool3 = pd.concat([df31[['id','totalValueLockedUSD']],df34,df32,df33],axis=1)
biswap_pool3

#Combination
biswap_pools = pd.concat([biswap_pool1,biswap_pool2,biswap_pool3], ignore_index=True)
biswap_pools.columns = ['pool_address','tvl','fee',
                         'token1','token1_symbol','token1_decimals',
                         'token2','token2_symbol','token2_decimals']
Name = pd.Series(["biswap" for x in range(len(biswap_pools.index))])
biswap_pools.insert(loc=0, column='Name', value=Name)
biswap_pools

,Name,pool_address,tvl,fee,token1,token1_symbol,token1_decimals,token2,token2_symbol,token2_decimals
0,biswap,0x8840c6252e2e86e545defb6da98b2a0e26d8c1ba,12169440.41848088034660189,0.2,0x55d398326f99059ff775485246999027b3197955,USDT,18,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18
1,biswap,0x6216e04cd40db2c6fbed64f1b5830a98d3a91740,8522965.106709391498337361167596026,0.2,0x2170ed0880ac9a755fd29b2688956bd959f933f8,ETH,18,0x7130d2a12b9bcbfae4f2634d864a1ee1ce3ead9c,BTCB,18
2,biswap,0xa987f0b7098585c735cd943ee07544a84e923d1d,7940058.601652278473912813967190303,0.2,0x55d398326f99059ff775485246999027b3197955,USDT,18,0x7130d2a12b9bcbfae4f2634d864a1ee1ce3ead9c,BTCB,18
3,biswap,0x5bf6941f029424674bb93a43b79fc46bf4a67c21,7600724.718341183559982797336653618,0.2,0x2170ed0880ac9a755fd29b2688956bd959f933f8,ETH,18,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18
4,biswap,0xacaac9311b0096e04dfe96b6d87dec867d3883dc,7367906.152288478800592492657827059,0.2,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18,0xe9e7cea3dedca5984780bafc599bd69add087d56,BUSD,18
...,...,...,...,...,...,...,...,...,...,...
2878,biswap,0x01e3bc7103762be00502ccb94cc3c118c5fab949,0,0.1,0x911ca72f0ca8eb4ff4de76a81d26f0ee9cdf924f,ZOINKS,18,0xe9e7cea3dedca5984780bafc599bd69add087d56,BUSD,18
2879,biswap,0x0196a4e8a02f60f1d05eeef2a1c2dca6bf0abf86,0,0.2,0x90f2809eb74683fa32ce4641017dcedd6f5e718a,BUSD,18,0x960d4ce6b6a6ff9954dc70295357ed8c44846cb8,MLS,18
2880,biswap,0x018cee3a4425282be870959c129b9a236c5ab87d,0,0.2,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18,0xd83b6af63a00173b4b7001d4155d59a052bd8de4,tt2,18
2881,biswap,0x00f06ee4483a44371b5dded338aa560dcffd3b3d,0,0.2,0x1db6e1124e40bb36cf43a4f3407f93b5b2d823a9,$MM,18,0x96bc95460ce4c6a3b14b3f1f42a8be0d793cc631,$BNBCH,18
2882,biswap,0x00e9cb95d236d2ad2639a8786fc596ba2d593af2,0,0.1,0x15b05286eb1756434df34439ae456885462407c6,LPKX,18,0x659becf35503e91baa27b8427c45a31e5b38fcd1,LPKB,18

## Ellipsis

In [ ]:
transport = RequestsHTTPTransport(
    url='https://api.thegraph.com/subgraphs/name/messari/ellipsis-finance-bsc',
    verify=True,
    retries=3)

client = Client(
    transport = transport)

#First 1000 pool
query1 = gql('''
query {
        liquidityPools(orderBy: totalValueLockedUSD,
                                orderDirection: desc,
                                first: 1000){
            id
            totalValueLockedUSD
            fees {
              feePercentage
            }
            inputTokens {
              id
              symbol
              decimals
    }
  }
      }
''')

response1 = client.execute(query1)

df11 = pd.json_normalize(response1['liquidityPools'],max_level=1)
df12 = pd.json_normalize(df11['inputTokens'].apply(pd.Series)[0])
df13 = pd.json_normalize(df11['inputTokens'].apply(pd.Series)[1])
df14 = pd.json_normalize(df11['fees'].apply(pd.Series)[2])

ellipsis_pool1 = pd.concat([df11[['id','totalValueLockedUSD']],df14,df12,df13],axis=1)
ellipsis_pool1

#Combination
ellipsis_pools = pd.concat([ellipsis_pool1], ignore_index=True)
ellipsis_pools.columns = ['pool_address','tvl','fee',
                         'token1','token1_symbol','token1_decimals',
                         'token2','token2_symbol','token2_decimals']
Name = pd.Series(["ellipsis" for x in range(len(biswap_pools.index))])
ellipsis_pools.insert(loc=0, column='Name', value=Name)
ellipsis_pools

,Name,pool_address,tvl,fee,token1,token1_symbol,token1_decimals,token2,token2_symbol,token2_decimals
0,ellipsis,0xfd4afeac39da03a05f61844095a75c4fb7d766da,1768660.255531250671383541663391904,0.29237719,0x1bdd3cf7f79cfb8edbb955f20ad99211551ba275,BNBx,18,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18
1,ellipsis,0x19ec9e3f7b21dd27598e7ad5aae7dc0db00a806d,1161863.698998405294969006243883069,0.03,0x55d398326f99059ff775485246999027b3197955,USDT,18,0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d,USDC,18
2,ellipsis,0x160caed03795365f3a589f10c379ffa7d75d4e76,921517.6133635332925907091255598956,0.04,0x55d398326f99059ff775485246999027b3197955,USDT,18,0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d,USDC,18
3,ellipsis,0xb82849c0bc8be685efacb882183b3688e69524ef,588017.301145062296637353047915098,0.04,0x0782b6d8c4551b9760e74c0545a9bcd90bdc41e5,HAY,18,0xe9e7cea3dedca5984780bafc599bd69add087d56,BUSD,18
4,ellipsis,0xad51e40d8f255dba1ad08501d6b1a6acb7c188f3,307357.5466416899251975634136,0.04,0x316622977073bbc3df32e7d2a9b3c77596a0a603,jBRL,18,0x71be881e9c5d4465b3fff61e89c6f3651e69b5bb,BRZ,4
...,...,...,...,...,...,...,...,...,...,...
121,ellipsis,0x1280b5511e75119899d47d574cab91a00edaba82,0,0.04,0x7587dcebdd6ab0d05015f11712666d97abab3c31,BITCOIO,18,0xe9e7cea3dedca5984780bafc599bd69add087d56,BUSD,18
122,ellipsis,0x0d2cd14790e2222c400283a376b80a5508306a59,0,0.04,0x335f6e0e804b70a96bf9eb8af31588942e9b2515,AMPLE,18,0xe9e7cea3dedca5984780bafc599bd69add087d56,BUSD,18
123,ellipsis,0x0c1ee3af08004a86d6ecfa596fc8015ac919d9e5,0,0.04,0x90c97f71e18723b0cf0dfa30ee176ab653e89f40,FRAX,18,0xaf4de8e872131ae328ce21d909c74705d3aaf452,3EPS,18
124,ellipsis,0x03ea6423c86eba28679b4c695ee9aa7f7dc05ae7,0,0.04,0x1f3af095cda17d63cad238358837321e95fc5915,MINT,18,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18
125,ellipsis,0x03107975fe4880dcd3700a49692769984070ecb3,0,0.04,0x03ab98f5dc94996f8c33e15cd4468794d12d41f9,USDN,18,0x5b5bd8913d766d005859ce002533d4838b0ebbb5,val3EPS,18

## PancakeSwap V2

In [ ]:
transport = RequestsHTTPTransport(
    url='https://open-platform.nodereal.io/8c4aebac194d4b5790f49e1df0d83c2f/pancakeswap-free/graphql',
    verify=True,
    retries=3)

client = Client(
    transport = transport)

#First 1000 pool
query1 = gql('''
query {
   pairs(first: 1000, skip: 0, orderBy: trackedReserveBNB, orderDirection: desc)
    {
      id
      reserveUSD
      token0 {
        id
        symbol
        decimals
      }
      token1 {
        id
        symbol
        decimals
      }
   }
}
''')

response1 = client.execute(query1)
pancakeswapv2_pool1 = pd.json_normalize(response1['pairs'],max_level=1)
pancakeswapv2_pool1

#pool 1001-2000
query2 = gql('''
query {
   pairs(first: 1000, skip: 1000, orderBy: trackedReserveBNB, orderDirection: desc)
    {
      id
      reserveUSD
      token0 {
        id
        symbol
        decimals
      }
      token1 {
        id
        symbol
        decimals
      }
   }
}
''')

response2 = client.execute(query2)
pancakeswapv2_pool2 = pd.json_normalize(response2['pairs'],max_level=1)
pancakeswapv2_pool2

#pool 2001-3000
query3 = gql('''
query {
   pairs(first: 1000, skip: 2000, orderBy: trackedReserveBNB, orderDirection: desc)
    {
      id
      reserveUSD
      token0 {
        id
        symbol
        decimals
      }
      token1 {
        id
        symbol
        decimals
      }
   }
}
''')

response3 = client.execute(query3)
pancakeswapv2_pool3 = pd.json_normalize(response3['pairs'],max_level=1)
pancakeswapv2_pool3

# Combination
pancakeswapv2_pools = pd.concat([pancakeswapv2_pool1,pancakeswapv2_pool2,pancakeswapv2_pool3], ignore_index=True)
pancakeswapv2_pools.columns = ['pool_address','tvl',
                               'token1','token1_symbol','token1_decimals',
                               'token2','token2_symbol','token2_decimals']
Name = pd.Series(["pancakeswap_v2" for x in range(len(pancakeswapv2_pools.index))])
pancakeswapv2_pools.insert(loc=0, column='Name', value=Name)
pancakeswapv2_pools.insert(loc=3, column='fee', value=0.25)
pancakeswapv2_pools

,Name,pool_address,tvl,fee,token1,token1_symbol,token1_decimals,token2,token2_symbol,token2_decimals
0,pancakeswap_v2,0x52672c173Fa7F00d921437708927bFE9BB8892f5,55156084.81041371046794581002244453,0.25,0x04F46CDfE8DD348E41902eEF1aFF19AcE1661F4c,FTC,18,0x55d398326f99059fF775485246999027B3197955,USDT,18
1,pancakeswap_v2,0x16b9a82891338f9bA80E2D6970FddA79D1eb0daE,37155382.53087642773208058903930873,0.25,0x55d398326f99059fF775485246999027B3197955,USDT,18,0xbb4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c,WBNB,18
2,pancakeswap_v2,0x0eD7e52944161450477ee417DE9Cd3a859b14fD0,35333874.0147576503717004416401479,0.25,0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82,Cake,18,0xbb4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c,WBNB,18
3,pancakeswap_v2,0x1CEa83EC5E48D9157fCAe27a19807BeF79195Ce1,30282613.717733662379034925916845,0.25,0xbb4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c,WBNB,18,0xE283D0e3B8c102BAdF5E8166B73E02D96d92F688,ELEPHANT,9
4,pancakeswap_v2,0x58F876857a02D6762E0101bb5C46A8c1ED44Dc16,24791154.04059550666030918980284439,0.25,0xbb4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c,WBNB,18,0xe9e7CEA3DedcA5984780Bafc599bD69ADd087D56,BUSD,18
...,...,...,...,...,...,...,...,...,...,...
2995,pancakeswap_v2,0x62eA391404325e003641FF15f8dC792358C0e33D,46748.1238696196259312560765081195,0.25,0x22bE38375124aA1AdA0c25B515ad5744A59b0885,DR,9,0x55d398326f99059fF775485246999027B3197955,USDT,18
2996,pancakeswap_v2,0x02B0B1229A918815E872c1E4D4c27d1DF8290C90,46795.38377511316584896497316720422,0.25,0x5921DEE8556c4593EeFCFad3CA5e2f618606483b,anyMTLX,18,0xe9e7CEA3DedcA5984780Bafc599bD69ADd087D56,BUSD,18
2997,pancakeswap_v2,0x768b64D38148cbA1A9c1825Bdeb2Fe562B05762B,46441.23808954611817690659777765422,0.25,0x066aeE69D93dEe28b32A57fEbd1878a2D94F6b0c,gold8,18,0xbb4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c,WBNB,18
2998,pancakeswap_v2,0xd8426415F8E2765F7449De789dD90744b1aC4D7C,61040.88101524341586438189714137163,0.25,0x180cD2723b36781AcDAcb65ECB4DF871D9b58449,MetaHub,9,0xbb4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c,WBNB,18
2999,pancakeswap_v2,0x8e01954B80eC6Ae53e1FfbBd5aaC6eE3C280cA7E,46576.02895809141873518966011881529,0.25,0x83F41c98d028842Ccc8060b4Ec7738Df3eb9a2e6,BWJ,9,0xbb4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c,WBNB,18

## PancakeSwap V3

In [ ]:
transport = RequestsHTTPTransport(
    url='https://api.thegraph.com/subgraphs/name/messari/pancakeswap-v3-bsc',
    verify=True,
    retries=3)

client = Client(
    transport = transport)

#First 1000 pool
query1 = gql('''
query {
        liquidityPools(orderBy: totalValueLockedUSD,
                                orderDirection: desc,
                                first: 1000){
            id
            totalValueLockedUSD
            fees {
              feePercentage
            }
            inputTokens {
              id
              symbol
              decimals
    }
  }
      }
''')

response1 = client.execute(query1)

df11 = pd.json_normalize(response1['liquidityPools'],max_level=1)
df12 = pd.json_normalize(df11['inputTokens'].apply(pd.Series)[0])
df13 = pd.json_normalize(df11['inputTokens'].apply(pd.Series)[1])
df14 = pd.json_normalize(df11['fees'].apply(pd.Series)[2])

pancakeswap_pool1 = pd.concat([df11[['id','totalValueLockedUSD']],df14,df12,df13],axis=1)
pancakeswap_pool1

#pool 1001-2000
query2 = gql('''
query {
        liquidityPools(orderBy: totalValueLockedUSD,
                                orderDirection: desc,
                                first: 1000,
                                skip: 1000){
            id
            totalValueLockedUSD
            fees {
              feePercentage
            }
            inputTokens {
              id
              symbol
              decimals
    }
  }
      }
''')

response2 = client.execute(query2)

df21 = pd.json_normalize(response2['liquidityPools'],max_level=1)
df22 = pd.json_normalize(df21['inputTokens'].apply(pd.Series)[0])
df23 = pd.json_normalize(df21['inputTokens'].apply(pd.Series)[1])
df24 = pd.json_normalize(df21['fees'].apply(pd.Series)[2])

pancakeswap_pool2 = pd.concat([df21[['id','totalValueLockedUSD']],df24,df22,df23],axis=1)
pancakeswap_pool2

#pool 2001-3000
query3 = gql('''
query {
        liquidityPools(orderBy: totalValueLockedUSD,
                                orderDirection: desc,
                                first: 1000,
                                skip: 2000){
            id
            totalValueLockedUSD
            fees {
              feePercentage
            }
            inputTokens {
              id
              symbol
              decimals
    }
  }
      }
''')

response3 = client.execute(query3)

df31 = pd.json_normalize(response3['liquidityPools'],max_level=1)
df32 = pd.json_normalize(df31['inputTokens'].apply(pd.Series)[0])
df33 = pd.json_normalize(df31['inputTokens'].apply(pd.Series)[1])
df34 = pd.json_normalize(df31['fees'].apply(pd.Series)[2])

pancakeswap_pool3 = pd.concat([df31[['id','totalValueLockedUSD']],df34,df32,df33],axis=1)
pancakeswap_pool3

#pool 3001-4000
query4 = gql('''
query {
        liquidityPools(orderBy: totalValueLockedUSD,
                                orderDirection: desc,
                                first: 1000,
                                skip: 3000){
            id
            totalValueLockedUSD
            fees {
              feePercentage
            }
            inputTokens {
              id
              symbol
              decimals
    }
  }
      }
''')

response4 = client.execute(query4)

df41 = pd.json_normalize(response4['liquidityPools'],max_level=1)
df42 = pd.json_normalize(df41['inputTokens'].apply(pd.Series)[0])
df43 = pd.json_normalize(df41['inputTokens'].apply(pd.Series)[1])
df44 = pd.json_normalize(df41['fees'].apply(pd.Series)[2])

pancakeswap_pool4 = pd.concat([df41[['id','totalValueLockedUSD']],df44,df42,df43],axis=1)
pancakeswap_pool4

#pool 4001-5000
query5 = gql('''
query {
        liquidityPools(orderBy: totalValueLockedUSD,
                                orderDirection: desc,
                                first: 1000,
                                skip: 4000){
            id
            totalValueLockedUSD
            fees {
              feePercentage
            }
            inputTokens {
              id
              symbol
              decimals
    }
  }
      }
''')

response5 = client.execute(query5)

df51 = pd.json_normalize(response5['liquidityPools'],max_level=1)
df52 = pd.json_normalize(df51['inputTokens'].apply(pd.Series)[0])
df53 = pd.json_normalize(df51['inputTokens'].apply(pd.Series)[1])
df54 = pd.json_normalize(df51['fees'].apply(pd.Series)[2])

pancakeswap_pool5 = pd.concat([df51[['id','totalValueLockedUSD']],df54,df52,df53],axis=1)
pancakeswap_pool5

#pool 5001-6000
query6 = gql('''
query {
        liquidityPools(orderBy: totalValueLockedUSD,
                                orderDirection: desc,
                                first: 1000,
                                skip: 5000){
            id
            totalValueLockedUSD
            fees {
              feePercentage
            }
            inputTokens {
              id
              symbol
              decimals
    }
  }
      }
''')

response6 = client.execute(query6)

df61 = pd.json_normalize(response6['liquidityPools'],max_level=1)
df62 = pd.json_normalize(df61['inputTokens'].apply(pd.Series)[0])
df63 = pd.json_normalize(df61['inputTokens'].apply(pd.Series)[1])
df64 = pd.json_normalize(df61['fees'].apply(pd.Series)[2])

pancakeswap_pool6 = pd.concat([df61[['id','totalValueLockedUSD']],df64,df62,df63],axis=1)
pancakeswap_pool6

#Combination
pancakeswap_pools = pd.concat([pancakeswap_pool1,pancakeswap_pool2,pancakeswap_pool3,pancakeswap_pool4,pancakeswap_pool5,pancakeswap_pool6], ignore_index=True)
pancakeswap_pools.columns = ['pool_address','tvl','fee',
                         'token1','token1_symbol','token1_decimals',
                         'token2','token2_symbol','token2_decimals']
Name = pd.Series(["pancakeswap" for x in range(len(pancakeswap_pools.index))])
pancakeswap_pools.insert(loc=0, column='Name', value=Name)
pancakeswap_pools

,Name,pool_address,tvl,fee,token1,token1_symbol,token1_decimals,token2,token2_symbol,token2_decimals
0,pancakeswap,0x4f31fa980a675570939b737ebdde0471a4be40eb,38189154.064263362492236766,0.05,0x55d398326f99059ff775485246999027b3197955,USDT,18,0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d,USDC,18
1,pancakeswap,0x36696169c63e42cd08ce11f5deebbcebae652050,32877981.62156661225796327449400553,0.05,0x55d398326f99059ff775485246999027b3197955,USDT,18,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18
2,pancakeswap,0x4f3126d5de26413abdcf6948943fb9d0847d9818,27054666.959057575008980651,0.01,0x55d398326f99059ff775485246999027b3197955,USDT,18,0xe9e7cea3dedca5984780bafc599bd69add087d56,BUSD,18
3,pancakeswap,0xd4dca84e1808da3354924cd243c66828cf775470,24967009.19394611657061660905873751,0.25,0x2170ed0880ac9a755fd29b2688956bd959f933f8,ETH,18,0x7130d2a12b9bcbfae4f2634d864a1ee1ce3ead9c,BTCB,18
4,pancakeswap,0x5aa010dc1da5efb652f59d19fb820b93d4077b47,24269352.89276178872441806352922685,0.05,0x6b7c13f27091e5d9bf798ad023f47004bfe407e5,PEPES,18,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18
...,...,...,...,...,...,...,...,...,...,...
5995,pancakeswap,0x1bc907417ce206deb0be0fc225b04ec5d6eb9a74,0.0000008710954590508743717170954698045373,0.01,0x406f665902d6d49080fecee62dd2e10ff5158505,ROC,18,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18
5996,pancakeswap,0x51220e3d97b6a5a88f5bd9a73671f7a7cb95759b,0.0000008613460177480847642633188523706967,0.01,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18,0xd914ee1c395d75ff59ebd58d4daa20bad37d91ff,SIMBA,18
5997,pancakeswap,0xe8feaaf432114340f54562c8d4b2f3a42cf33d14,0.0000008590233582858901991020990277944895,0.01,0x32cdc469d131e508f6f27e4b5647123757be6142,MERSEDES,18,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18
5998,pancakeswap,0x99dcf69d19b8322fbd38172feba1698aabef8b0f,0.0000008391146900712501867011926141792575,1,0xa3cce471d60963ea7221ca05ee5952d7f8063670,MM,18,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18
5999,pancakeswap,0x126ee59a83bb72b0c2656e500b5a9cce176e248b,0.0000006799878785900166309116099504647689,0.01,0x5c9c8d2e22bc71c2dcd7dd183728a72cd3dd39ed,DBC,18,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18

## SushiSwap

In [ ]:
transport = RequestsHTTPTransport(
    url='https://api.thegraph.com/subgraphs/name/messari/sushiswap-bsc',
    verify=True,
    retries=3)

client = Client(
    transport = transport)

#First 1000 pool
query1 = gql('''
query {
        liquidityPools(orderBy: totalValueLockedUSD,
                                orderDirection: desc,
                                first: 1000){
            id
            totalValueLockedUSD
            fees {
              feePercentage
            }
            inputTokens {
              id
              symbol
              decimals
    }
  }
      }
''')

response1 = client.execute(query1)

df11 = pd.json_normalize(response1['liquidityPools'],max_level=1)
df12 = pd.json_normalize(df11['inputTokens'].apply(pd.Series)[0])
df13 = pd.json_normalize(df11['inputTokens'].apply(pd.Series)[1])
df14 = pd.json_normalize(df11['fees'].apply(pd.Series)[2])

sushiswap_pool1 = pd.concat([df11[['id','totalValueLockedUSD']],df14,df12,df13],axis=1)
sushiswap_pool1

#pool 1001-2000
query2 = gql('''
query {
        liquidityPools(orderBy: totalValueLockedUSD,
                                orderDirection: desc,
                                first: 1000,
                                skip: 1000){
            id
            totalValueLockedUSD
            fees {
              feePercentage
            }
            inputTokens {
              id
              symbol
              decimals
    }
  }
      }
''')

response2 = client.execute(query2)

df21 = pd.json_normalize(response2['liquidityPools'],max_level=1)
df22 = pd.json_normalize(df21['inputTokens'].apply(pd.Series)[0])
df23 = pd.json_normalize(df21['inputTokens'].apply(pd.Series)[1])
df24 = pd.json_normalize(df21['fees'].apply(pd.Series)[2])

sushiswap_pool2 = pd.concat([df21[['id','totalValueLockedUSD']],df24,df22,df23],axis=1)
sushiswap_pool2

#Combination
sushiswap_pools = pd.concat([sushiswap_pool1,sushiswap_pool2], ignore_index=True)
sushiswap_pools.columns = ['pool_address','tvl','fee',
                         'token1','token1_symbol','token1_decimals',
                         'token2','token2_symbol','token2_decimals']
Name = pd.Series(["sushiswap" for x in range(len(sushiswap_pools.index))])
sushiswap_pools.insert(loc=0, column='Name', value=Name)
sushiswap_pools

,Name,pool_address,tvl,fee,token1,token1_symbol,token1_decimals,token2,token2_symbol,token2_decimals
0,sushiswap,0x2905817b020fd35d9d09672946362b62766f0d69,532662.8533099567694451759999999999,0.3,0x55d398326f99059ff775485246999027b3197955,USDT,18,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18
1,sushiswap,0x6e688d5ef7b1ebfd4fa091def824936cd2a790c6,148932.1734060586898420671114252795,0.3,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18,0xd822ada09eff45cdd81da4dc21f2993d6a5aac9b,PDT,18
2,sushiswap,0x51f914a192a97408d991fdddafb8f8537c5ffb0a,77543.73363091951606453762403465396,0.3,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18,0xf16e81dce15b08f326220742020379b855b87df9,ICE,18
3,sushiswap,0x373345c3efa3fd836ad1d54afbd3c5eb86e12120,74143.161893032143273428,0.3,0x45808ce43eb2d7685ff0242631f0feb6f3d8701a,EKTA v2,18,0x55d398326f99059ff775485246999027b3197955,USDT,18
4,sushiswap,0x8cc8605f2b54852b54a77b7e9711bb1156581ee9,65258.27039170516259229379542451434,0.3,0x69fa8e7f6bf1ca1fb0de61e1366f7412b827cc51,NRCH,9,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18
...,...,...,...,...,...,...,...,...,...,...
1995,sushiswap,0x03bf6ef00754013f166960fd9b3816473439f87b,0,0.3,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18,0xe952415d6a937c47fe447edea06c5ee280b4ddcd,TCPEPE,9
1996,sushiswap,0x0399bdcfc28c8a64fd9aaeeb5eac197f799050e0,0,0.3,0x59a3278ee3f27eacfc6fe90ae07018d199983302,Squids,9,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18
1997,sushiswap,0x034a76df17b8e6c8824105d0b13bad5c2d4c475b,0,0.3,0x90fc47eecec60a4de7d7fd3c7b78429a033d1b9f,THB,9,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18
1998,sushiswap,0x02e733f10bb649817e421ec055cd4793f63af9ba,0,0.3,0x4338665cbb7b2485a8855a139b75d5e34ab0db94,LTC,18,0x94a13f1ee31e2230f94c3acdcaceebc5f251ecd3,KTE,18
1999,sushiswap,0x01ab1e6a952c870d736fbf6570a96c0e63e14013,0,0.3,0xad29abb318791d579433d831ed122afeaf29dcfe,FTM,18,0xfe19f0b51438fd612f6fd59c1dbb3ea319f433ba,MIM,18

## SushiSwap V3

In [ ]:
transport = RequestsHTTPTransport(
    url='https://api.thegraph.com/subgraphs/name/messari/sushiswap-v3-bsc',
    verify=True,
    retries=3)

client = Client(
    transport = transport)

#First 1000 pool
query1 = gql('''
query {
        liquidityPools(orderBy: totalValueLockedUSD,
                                orderDirection: desc,
                                first: 1000){
            id
            totalValueLockedUSD
            fees {
              feePercentage
            }
            inputTokens {
              id
              symbol
              decimals
    }
  }
      }
''')

response1 = client.execute(query1)

df11 = pd.json_normalize(response1['liquidityPools'],max_level=1)
df12 = pd.json_normalize(df11['inputTokens'].apply(pd.Series)[0])
df13 = pd.json_normalize(df11['inputTokens'].apply(pd.Series)[1])
df14 = pd.json_normalize(df11['fees'].apply(pd.Series)[2])

sushiswapv3_pool1 = pd.concat([df11[['id','totalValueLockedUSD']],df14,df12,df13],axis=1)
sushiswapv3_pool1

#Combination
sushiswapv3_pools = pd.concat([sushiswapv3_pool1], ignore_index=True)
sushiswapv3_pools.columns = ['pool_address','tvl','fee',
                         'token1','token1_symbol','token1_decimals',
                         'token2','token2_symbol','token2_decimals']
Name = pd.Series(["sushiswapv3" for x in range(len(sushiswapv3_pools.index))])
sushiswapv3_pools.insert(loc=0, column='Name', value=Name)
sushiswapv3_pools

,Name,pool_address,tvl,fee,token1,token1_symbol,token1_decimals,token2,token2_symbol,token2_decimals
0,sushiswapv3,0xc0e2792774b2f602f74f6056ed95ab958d253823,16960.96871893749700876097439935914,0.05,0x55d398326f99059ff775485246999027b3197955,USDT,18,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18
1,sushiswapv3,0xe019ad53ecff61c2540026a972eb3f191df4071e,10742.82771050762948953706938913817,1,0x0cbd6fadcf8096cc9a43d90b45f65826102e3ece,CDT,18,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18
2,sushiswapv3,0x038ebba96937d741391b5750bccbf18c2b673940,1676.150929765249300254,0.01,0x55d398326f99059ff775485246999027b3197955,USDT,18,0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d,USDC,18
3,sushiswapv3,0x7412bd16ed6f1ffda56019b89e387010a4a73e28,1599.895557351404053828,0.01,0x55d398326f99059ff775485246999027b3197955,USDT,18,0xc7b15e17c95c6b31e5818e3c51ed8163d84d7cbe,_matugalnik,18
4,sushiswapv3,0x2072b396d8e64f1c7fffea5aa2b31c936d60f571,650.8205833462167571772760977475094,0.3,0x590eb2920486486c2d9bb3eb651f73b81df87bcf,BOBC,18,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18
...,...,...,...,...,...,...,...,...,...,...
59,sushiswapv3,0x56b8b1682b96df8b1868115dffb9b7cd43c659e1,0,0.3,0x78a163ba3196fa22c50a879c8ff0fb34910c2bf1,LODGE,18,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18
60,sushiswapv3,0x565fa91f84c65900dca6220ddc503dbbb8be1f9f,0,1,0x0859716ff42c80382d6889c58a3e4822af17aa2b,DAH,18,0x2170ed0880ac9a755fd29b2688956bd959f933f8,ETH,18
61,sushiswapv3,0x49f7cd120e7866c4fbb7ca5c07796afa3a230810,0,0.3,0x570a5d26f7765ecb712c0924e4de545b89fd43df,SOL,18,0xcc42724c6683b7e57334c4e856f4c9965ed682bd,MATIC,18
62,sushiswapv3,0x0d8d2f4e5126d2a490b2204d6b1036c85b6bb448,0,0.3,0xa0af9c615a14a4914dbf239d9769b9de8ee65fac,WTBC,9,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18
63,sushiswapv3,0x03f1921d9e2ef7c0b247d82a78f7a3ec17027acd,0,1,0x570a5d26f7765ecb712c0924e4de545b89fd43df,SOL,18,0xfa4fa764f15d0f6e20aaec8e0d696870e5b77c6e,FSN,18

## UniSwap V3

In [ ]:
transport = RequestsHTTPTransport(
    url='https://api.thegraph.com/subgraphs/name/messari/uniswap-v3-bsc',
    verify=True,
    retries=3)

client = Client(
    transport = transport)

#First 1000 pool
query1 = gql('''
query {
        liquidityPools(orderBy: totalValueLockedUSD,
                                orderDirection: desc,
                                first: 1000){
            id
            totalValueLockedUSD
            fees {
              feePercentage
            }
            inputTokens {
              id
              symbol
              decimals
    }
  }
      }
''')

response1 = client.execute(query1)

df11 = pd.json_normalize(response1['liquidityPools'],max_level=1)
df12 = pd.json_normalize(df11['inputTokens'].apply(pd.Series)[0])
df13 = pd.json_normalize(df11['inputTokens'].apply(pd.Series)[1])
df14 = pd.json_normalize(df11['fees'].apply(pd.Series)[2])

uniswap_pool1 = pd.concat([df11[['id','totalValueLockedUSD']],df14,df12,df13],axis=1)
uniswap_pool1

#pool 1001-2000
query2 = gql('''
query {
        liquidityPools(orderBy: totalValueLockedUSD,
                                orderDirection: desc,
                                first: 1000,
                                skip: 1000){
            id
            totalValueLockedUSD
            fees {
              feePercentage
            }
            inputTokens {
              id
              symbol
              decimals
    }
  }
      }
''')

response2 = client.execute(query2)

df21 = pd.json_normalize(response2['liquidityPools'],max_level=1)
df22 = pd.json_normalize(df21['inputTokens'].apply(pd.Series)[0])
df23 = pd.json_normalize(df21['inputTokens'].apply(pd.Series)[1])
df24 = pd.json_normalize(df21['fees'].apply(pd.Series)[2])

uniswap_pool2 = pd.concat([df21[['id','totalValueLockedUSD']],df24,df22,df23],axis=1)
uniswap_pool2

#Combination
uniswap_pools = pd.concat([uniswap_pool1,uniswap_pool2], ignore_index=True)
uniswap_pools.columns = ['pool_address','tvl','fee',
                         'token1','token1_symbol','token1_decimals',
                         'token2','token2_symbol','token2_decimals']
Name = pd.Series(["uniswap" for x in range(len(uniswap_pools.index))])
uniswap_pools.insert(loc=0, column='Name', value=Name)
uniswap_pools

,Name,pool_address,tvl,fee,token1,token1_symbol,token1_decimals,token2,token2_symbol,token2_decimals
0,uniswap,0x2dc06c0ae3bb0959459815f68e332e799aae813a,77777770.459326146591075732,0.3,0x55d398326f99059ff775485246999027b3197955,USDT,18,0x78d210802912edc415bc8ba6af9fb0938021890f,UITP,2
1,uniswap,0xe7df69cc69f5a9425865e30625ce516269c43ad1,3122734.490259239894984659739903637,1,0x55d398326f99059ff775485246999027b3197955,USDT,18,0xafda600b05e21a732e1d1755a63945d96c1121aa,TEO,18
2,uniswap,0xe15c03d4ce70d2102d8d7a4e42af677a5ac7ee16,1999973.21113355681490793352450067,0.01,0x55d398326f99059ff775485246999027b3197955,USDT,18,0xb0b195aefa3650a6908f15cdac7d92f8a5791b0b,BOB,18
3,uniswap,0xbe7cc96a863bdb43e25896664cf0e3c65f7973eb,1999968.580742698530296112144151297,0.01,0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d,USDC,18,0xb0b195aefa3650a6908f15cdac7d92f8a5791b0b,BOB,18
4,uniswap,0x3fb2623567e21f8c50f0ae86f54ef4849b4eb47b,1337143.284825997842129423432947201,0.3,0x2170ed0880ac9a755fd29b2688956bd959f933f8,ETH,18,0x7130d2a12b9bcbfae4f2634d864a1ee1ce3ead9c,BTCB,18
...,...,...,...,...,...,...,...,...,...,...
1519,uniswap,0x01dee257e00780751908c398e330c5338bb7f329,0,0.3,0x200f73aba0d6f8919086f64035ef900669ea2de2,CCDAO,18,0xeec0b3a5bab870963420c6d4d520b462f0638100,oUSD,18
1520,uniswap,0x01be01e5b2589ee100378c04dd14c1ab560cc287,0,1,0x2170ed0880ac9a755fd29b2688956bd959f933f8,ETH,18,0x23fb95919b7f73d134e6b73c81f9252c1eba3abc,FBI,18
1521,uniswap,0x019b37bacde6daa5176abd3ec7bf25f699f8fc94,0,0.01,0x323b4b44973d1439fc08459231298de7e2109b62,tSwan1,18,0x52b101fc2ed2ebe67083ed5f670b5093eb093a8c,tSwan2,18
1522,uniswap,0x0174bd1ba07982d49cd4d838b0273c133960978e,0,1,0x671adcbb02717825e08c2ca9e4b4bf6e5fd08cfd,KING,18,0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d,USDC,18
1523,uniswap,0x009cec13d91034f20145f7258ac859f25cd6c10e,0,0.05,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18,0xfeba3035eb02990d58d194289670a4a6f454bf3a,SHM,18

## Thena Fusion

In [ ]:
transport = RequestsHTTPTransport(
    url='https://api.thegraph.com/subgraphs/name/thenaursa/thena-fusion',
    verify=True,
    retries=3)

client = Client(
    transport = transport)

#First 1000 pool
query1 = gql('''
query {
  pools(orderBy: totalValueLockedUSD,
        orderDirection: desc,
        first: 1000) {
    id
    totalValueLockedUSD
    fee
    token0 {
      id
      symbol
      decimals
    }
    token1 {
      id
      symbol
      decimals
    }
  }
}
''')

response1 = client.execute(query1)

thena_fusion_pool1 = pd.json_normalize(response1['pools'],max_level=1)
thena_fusion_pool1

#Combination
thena_fusion_pools = pd.concat([thena_fusion_pool1], ignore_index=True)
thena_fusion_pools.columns = ['pool_address','tvl','fee',
                         'token1','token1_symbol','token1_decimals',
                         'token2','token2_symbol','token2_decimals']
Name = pd.Series(["thena_fusion" for x in range(len(thena_fusion_pools.index))])
thena_fusion_pools.insert(loc=0, column='Name', value=Name)
thena_fusion_pools['fee'] = thena_fusion_pools['fee'].apply(int)/10000
thena_fusion_pools

,Name,pool_address,tvl,fee,token1,token1_symbol,token1_decimals,token2,token2_symbol,token2_decimals
0,thena_fusion,0x1123e75b71019962cd4d21b0f3018a6412edb63c,5210166.449212353868868048249409495,0.2211,0x2170ed0880ac9a755fd29b2688956bd959f933f8,ETH,18,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18
1,thena_fusion,0xd405b976ac01023c9064024880999fc450a8668b,5047562.380302805398157799819405272,0.0499,0x55d398326f99059ff775485246999027b3197955,USDT,18,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18
2,thena_fusion,0x1b9a1120a17617d8ec4dc80b921a9a1c50caef7d,4900285.486428020891825225981901999,0.0010,0x55d398326f99059ff775485246999027b3197955,USDT,18,0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d,USDC,18
3,thena_fusion,0xf2a4e4261fcdfbb891bcf703640fbe713c6cd0fe,3841914.704391265028165463958008548,0.0100,0x1bdd3cf7f79cfb8edbb955f20ad99211551ba275,BNBx,18,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18
4,thena_fusion,0x3f8062cf591a918bc3b183fa241ec49efbd30e2b,3138719.639131457477992879847822304,0.0500,0x2952beb1326accbb5243725bd4da2fc937bca087,wUSDR,9,0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d,USDC,18
...,...,...,...,...,...,...,...,...,...,...
107,thena_fusion,0x1ea4251d409a027f236ac47954c39474264baa11,0.00000000000000000040660019950377483389393046...,0.0100,0x74ccbe53f77b08632ce0cb91d3a545bf6b8e0979,fBOMB,18,0xf4c8e32eadec4bfe97e0f595add0f4450a863a11,THE,18
108,thena_fusion,0xf2bbfd8054b9d5b360fdff07a23aa7f021d1da7b,0,0.0100,0xe80772eaf6e2e18b651f160bc9158b2a5cafca65,USD+,6,0xfa4ba88cf97e282c505bea095297786c16070129,CUSD,18
109,thena_fusion,0xcab97f2980949d6b3399345a04535e0219edcb07,0,0.0100,0x5335e87930b410b8c5bb4d43c3360aca15ec0c8c,USDT+,18,0xe80772eaf6e2e18b651f160bc9158b2a5cafca65,USD+,6
110,thena_fusion,0x8a85ac630dc5b9ee3148249cc69e1832da3114c0,0,0.0500,0x5b852898cd47d2be1d77d30377b3642290f5ec75,ETS Alpha,18,0xe80772eaf6e2e18b651f160bc9158b2a5cafca65,USD+,6
111,thena_fusion,0x3b6898295a8a242fc3e65f7a64a3e61e794e8c89,0,0.0100,0x2f29bc0ffaf9bff337b31cbe6cb5fb3bf12e5840,DOLA,18,0xfa4ba88cf97e282c505bea095297786c16070129,CUSD,18

## Thena V1

In [ ]:
transport = RequestsHTTPTransport(
    url='https://api.thegraph.com/subgraphs/name/thenaursa/thena-v1',
    verify=True,
    retries=3)

client = Client(
    transport = transport)

#First 1000 pool
query1 = gql('''
query {
  pairs(first: 1000, orderBy: reserveUSD, orderDirection: desc) {
    id
    reserveUSD
    isStable
    token0 {
      id
      symbol
      decimals
    }
    token1 {
      id
      symbol
      decimals
    }
  }
}
''')

response1 = client.execute(query1)

thena_v1_pool1 = pd.json_normalize(response1['pairs'],max_level=1)
thena_v1_pool1

#Combination
thena_v1_pools = pd.concat([thena_v1_pool1], ignore_index=True)
thena_v1_pools.columns = ['pool_address','tvl', 'isStable',
                         'token1','token1_symbol','token1_decimals',
                         'token2','token2_symbol','token2_decimals']
Name = pd.Series(["thena_v1" for x in range(len(thena_v1_pools.index))])
thena_v1_pools.insert(loc=0, column='Name', value=Name)
# thena_v1_pools['isStable'] = thena_fusion_pools['fee'].apply(int)/10000
thena_v1_pools['fee'] = thena_v1_pools['isStable'].apply(lambda x: 0.01 if x == True else 0.2)
thena_v1_pools = thena_v1_pools[['Name','pool_address','tvl', 'fee',
                         'token1','token1_symbol','token1_decimals',
                         'token2','token2_symbol','token2_decimals']]
thena_v1_pools

,Name,pool_address,tvl,fee,token1,token1_symbol,token1_decimals,token2,token2_symbol,token2_decimals
0,thena_v1,0x1561d9618db2dcfe954f5d51f4381fa99c8e5689,4191832.650432897559021296613448852,0.01,0x5335e87930b410b8c5bb4d43c3360aca15ec0c8c,USDT+,18,0xe80772eaf6e2e18b651f160bc9158b2a5cafca65,USD+,6
1,thena_v1,0x8a420aaca0c92e3f97cdcfdd852e01ac5b609452,3853982.201314442614380081720977793,0.01,0x2170ed0880ac9a755fd29b2688956bd959f933f8,ETH,18,0x64048a7eecf3a2f1ba9e144aac3d7db6e58f555e,frxETH,18
2,thena_v1,0x6321b57b6fdc14924be480c54e93294617e672ab,2095043.326799063284165732883150735,0.01,0x55d398326f99059ff775485246999027b3197955,USDT,18,0xe9e7cea3dedca5984780bafc599bd69add087d56,BUSD,18
3,thena_v1,0x49ad051f4263517bd7204f75123b7c11af9fd31c,1831419.13804717301657018207593552,0.01,0x3f56e0c36d275367b8c502090edf38289b3dea0d,MAI,18,0x90c97f71e18723b0cf0dfa30ee176ab653e89f40,FRAX,18
4,thena_v1,0x2896b0d3fb19b79fcb7b7ede832deb6c1621664c,1262941.480081581428334204452730204,0.20,0xa026ad2ceda16ca5fc28fd3c72f99e2c332c8a26,XCAD,18,0xe9e7cea3dedca5984780bafc599bd69add087d56,BUSD,18
...,...,...,...,...,...,...,...,...,...,...
267,thena_v1,0x7f17a57bb90d45ca66c58dc9e562fa93de9d84a4,0.00000000000000016701711728661916574359710479...,0.01,0x55d398326f99059ff775485246999027b3197955,USDT,18,0xcb5327ed4649548e0d73e70b633cdfd99af6da87,PRIMAL,18
268,thena_v1,0x678c521e10bad0d451b16ddd23e5df9e7b05a70e,0.00000000000000011258588615972672864924271082...,0.01,0xa7266989b0df675cc8257d53b6bc1358faf6626a,IPAD,18,0xe9e7cea3dedca5984780bafc599bd69add087d56,BUSD,18
269,thena_v1,0x35d7d65c65fb3105b838292f7692da414f1b45bf,0.00000000000000003050770994966494661984559806...,0.01,0xe9e7cea3dedca5984780bafc599bd69add087d56,BUSD,18,0xeba457b55fb145ff4451bc50fb6c373e5caa493f,SLM,18
270,thena_v1,0xb95c58277dde24801c2a460bcea25a2d28a1591b,0,0.20,0x316622977073bbc3df32e7d2a9b3c77596a0a603,jBRL,18,0x71be881e9c5d4465b3fff61e89c6f3651e69b5bb,BRZ,4
271,thena_v1,0x3d3f41d3faaa4f3e91f9dc65a2790f809e045bb7,0,0.20,0x2137bd42ad5bcce6f3fc36e0a74ec3bdd6484203,FFH,1,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18

V1 Variable Pool

UniV2-style variable pool designed for uncorrelated pairs of assets such as $BNB-$USDC.

v1 Variable Pool comprise two tokens that users can swap, with the exchange rate determined by each token's relative supply and demand through the constant product formula. These pools are ideal for trading more volatile tokens, as they can rapidly adapt to fluctuating market conditions.
Fee structure : 0.2%

V1 Stable Pool

Curve style of stable pool for correlated or loosely pegged pair of assets, such as $FRAX-$BUSD or $USDT-$USDC.

v1 Stable Pool is a type of liquidity pool that is designed specifically for assets that are expected to consistently trade at near parity, such as stablecoins or synthetics. Unlike traditional AMMs, which use a constant product formula to calculate prices, sAMMs use a constant sum formula. This helps to reduce slippage and price impact, making sAMMs particularly well-suited for stable assets.

Fee structure : 0.01%

## KnightSwap

In [ ]:
transport = RequestsHTTPTransport(
    url='https://api.thegraph.com/subgraphs/name/unchase/knightswap-bsc',
    verify=True,
    retries=3)

client = Client(
    transport = transport)

#First 1000 pool
query1 = gql('''
query {
  pairs(first: 1000, orderBy: syncAtTimestamp, orderDirection: desc) {
    id
    syncAtTimestamp
    token0 {
      id
      symbol
      decimals
    }
    token1 {
      id
      symbol
      decimals
    }
  }
}
''')

response1 = client.execute(query1)

knightswap_pool1 = pd.json_normalize(response1['pairs'],max_level=1)
knightswap_pool1

#Combination
knightswap_pools = pd.concat([knightswap_pool1], ignore_index=True)
knightswap_pools.columns = ['pool_address','syncAtTimestamp',
                         'token1','token1_symbol','token1_decimals',
                         'token2','token2_symbol','token2_decimals']
Name = pd.Series(["knightswap" for x in range(len(knightswap_pools.index))])
knightswap_pools.insert(loc=0, column='Name', value=Name)
knightswap_pools.insert(loc=3, column='fee', value=0.2)
knightswap_pools

,Name,pool_address,syncAtTimestamp,fee,token1,token1_symbol,token1_decimals,token2,token2_symbol,token2_decimals
0,knightswap,0xd71710c21fba293eb12e0ca079fe37f50ad17d42,1688838187,0.2,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18,0xd23811058eb6e7967d9a00dc3886e75610c4abba,KNIGHT,18
1,knightswap,0x28f8ed3bb8795b11e9be8a6015add73ef7cd3a14,1688835470,0.2,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18,0xe9e7cea3dedca5984780bafc599bd69add087d56,BUSD,18
2,knightswap,0xc71201cce9d64b7c33e40fbec058fa14597862fe,1688832652,0.2,0x7130d2a12b9bcbfae4f2634d864a1ee1ce3ead9c,BTCB,18,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18
3,knightswap,0x083d3f54e368a76c09b046f45d4256967d1089dc,1688832519,0.2,0xc598275452fa319d75ee5f176fd3b8384925b425,STRM,18,0xe9e7cea3dedca5984780bafc599bd69add087d56,BUSD,18
4,knightswap,0x0ddf35e107b6014b5577e87e3bbceca74df3e09a,1688831651,0.2,0x2170ed0880ac9a755fd29b2688956bd959f933f8,ETH,18,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18
...,...,...,...,...,...,...,...,...,...,...
159,knightswap,0x2f88723e08e5885f22d29b74b9cfb14c80a16df0,0,0.2,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18,0xe4d824ec5ee6239249633afcf4816f234409354c,SPA,18
160,knightswap,0x2467526684d3d8019cc4b9bd3746dcb5342c1ef4,0,0.2,0x1abc7c87626d636463c713dfb487f491f4d52fc1,MSB,18,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18
161,knightswap,0x2361ac5476157efdf8a830dea501420e9250cd6e,0,0.2,0x5506033507bf5a11c4bc3ad237510228910aba31,TDUST,18,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18
162,knightswap,0x1adf774950e584e6c4a5b02425dcd90a03db9b34,0,0.2,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18,0xd27fae23775993af58f84408b611f4ff9afd864c,Drachma,18
163,knightswap,0x0bad5bfd66d31b57f61fc51e7a7af2bbbfb3b56f,0,0.2,0x2f4e8133fedd9bee97ea6e6cb4540d48c6d33c73,FORGE,18,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18

fee: https://knights.gitbook.io/knightswap/the-castle/exchange

## Nomiswap

In [ ]:
transport = RequestsHTTPTransport(
    url='https://api.thegraph.com/subgraphs/name/unchase/nomiswap-bsc',
    verify=True,
    retries=3)

client = Client(
    transport = transport)

#First 1000 pool
query1 = gql('''
query {
  pairs(first: 1000, orderBy: syncAtTimestamp, orderDirection: desc) {
    id
    syncAtTimestamp
    token0 {
      id
      symbol
      decimals
    }
    token1 {
      id
      symbol
      decimals
    }
  }
}
''')

response1 = client.execute(query1)

nomiswap_pool1 = pd.json_normalize(response1['pairs'],max_level=1)
nomiswap_pool1

# Combination
nomiswap_pools = pd.concat([nomiswap_pool1], ignore_index=True)
nomiswap_pools.columns = ['pool_address','syncAtTimestamp',
                         'token1','token1_symbol','token1_decimals',
                         'token2','token2_symbol','token2_decimals']
Name = pd.Series(["nomiswap" for x in range(len(nomiswap_pools.index))])
nomiswap_pools.insert(loc=0, column='Name', value=Name)
nomiswap_pools.insert(loc=3, column='fee', value=0.1)
nomiswap_pools

,Name,pool_address,syncAtTimestamp,fee,token1,token1_symbol,token1_decimals,token2,token2_symbol,token2_decimals
0,nomiswap,0x13de257cb86a08753df938b6ad30d1a456a863e6,1688838214,0.1,0x2170ed0880ac9a755fd29b2688956bd959f933f8,ETH,18,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18
1,nomiswap,0x36451a95d5a2f0c25530331f382e4d432caecb17,1688838124,0.1,0x7130d2a12b9bcbfae4f2634d864a1ee1ce3ead9c,BTCB,18,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18
2,nomiswap,0x0be86103b53618653d6aca420004efc5fefa611f,1688838112,0.1,0x4b0f1812e5df2a09796481ff14017e6005508003,TWT,18,0xe9e7cea3dedca5984780bafc599bd69add087d56,BUSD,18
3,nomiswap,0x0c9fa735dbc788e28437a076b51e6b61b238f973,1688838085,0.1,0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82,Cake,18,0x55d398326f99059ff775485246999027b3197955,USDT,18
4,nomiswap,0x47362fef126fdc006a458f7a0499a67926cf8126,1688838076,0.1,0x26433c8127d9b4e9b71eaa15111df99ea2eeb2f8,MANA,18,0x55d398326f99059ff775485246999027b3197955,USDT,18
...,...,...,...,...,...,...,...,...,...,...
172,nomiswap,0x54c2d6cf890bc65a273b66e7396d6b2a2fa85919,1645967249,0.1,0xcc42724c6683b7e57334c4e856f4c9965ed682bd,MATIC,18,0xd32d01a43c869edcd1117c640fbdcfcfd97d9d65,NMX,18
173,nomiswap,0x498afab23524abd2c0b22ec31f6128b799566f42,1644792816,0.1,0x0fadec1ef9a194a5edac2dcf02b637d12fdebedf,DRD,3,0x55d398326f99059ff775485246999027b3197955,USDT,18
174,nomiswap,0xb066078623e83b6c88c28fe056706216cc13a758,1644792624,0.1,0x64889174eccb698c4c89e43dfa1c61b7a573b9c3,LRG,3,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18
175,nomiswap,0xb166c4c48ba8b1d8f4b02ebc6fb4aebdf821dd13,1643923351,0.1,0x03320ed20a77199a244dc41a4e52aac896a69aa8,*SafeMOONCLASSIC,8,0x2170ed0880ac9a755fd29b2688956bd959f933f8,ETH,18
176,nomiswap,0xa997ef84163de379851a39be51eb24de43db9f93,1643262809,0.1,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18,0xd7bf683cad197f4f869678cddc345b38b483d8e4,HODL,9

fee: https://nomiswap.gitbook.io/home/core-products/exchange-swap-expand

## BabyDoge

In [ ]:
transport = RequestsHTTPTransport(
    url='https://api.thegraph.com/subgraphs/name/unchase/babydoge-bsc',
    verify=True,
    retries=3)

client = Client(
    transport = transport)

#First 1000 pool
query1 = gql('''
query MyQuery {
  pairs {
    id
    token0 {
      id
      symbol
      decimals
    }
    token1 {
      id
      symbol
      decimals
    }
  }
}
''')

response1 = client.execute(query1)

babydoge_pool1 = pd.json_normalize(response1['pairs'],max_level=1)
babydoge_pool1

#Combination
babydoge_pools = pd.concat([babydoge_pool1], ignore_index=True)
babydoge_pools.columns = ['pool_address',
                         'token1','token1_symbol','token1_decimals',
                         'token2','token2_symbol','token2_decimals']
Name = pd.Series(["babydoge" for x in range(len(babydoge_pools.index))])
babydoge_pools.insert(loc=0, column='Name', value=Name)
babydoge_pools.insert(loc=2, column='fee', value=0.3)
babydoge_pools

,Name,pool_address,fee,token1,token1_symbol,token1_decimals,token2,token2_symbol,token2_decimals
0,babydoge,0x00fae63a86d2df0edb26d2c325a7ea831de39d8b,0.3,0x5af142d8a46de3ad25fdadaf5983d133ef5798ef,SharkDoge,9,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18
1,babydoge,0x0123ee24dc53e14ea84777317c7faadce534c745,0.3,0xceb048cf6acd03e335864ebf094b075430ee37ee,CFA🏳️,18,0xe9e7cea3dedca5984780bafc599bd69add087d56,BUSD,18
2,babydoge,0x01eae5df32b31ced34963283189ec6ba55a6d129,0.3,0x4a7cdafb3c1b63029b0a11e91d0a718bf635daab,DPACE,10,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18
3,babydoge,0x0240ed994ffd58f1faaee00e14b0c33665827592,0.3,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18,0xf9d6ddf44016953dbf7ab135a0f64d7a41870ede,DOFI,9
4,babydoge,0x024f3e056d9b7a7b7f299fcc15f9978bc457651b,0.3,0x48ed9372169ef0bf2b901bbe45e52b6a6b8f1ecc,CrazyBunny,9,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18
...,...,...,...,...,...,...,...,...,...
95,babydoge,0x297bc4eef58448cfe4e3d3e88d25dbafef6f4e3c,0.3,0x151338b5c5be992a500e8699828a25b7e577eff5,INCN,18,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18
96,babydoge,0x29da04b793d968673ab90c4db1e7143fbbfb4464,0.3,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18,0xc54b9e63b2f0c96263e12f6942b4fba649373f53,SharkPig,18
97,babydoge,0x2aad56a92f1b102711ab9aa22ec6c5dd531fa024,0.3,0x0604d7f7a17a55a82ac4639a3cedb78339512171,Bluenosedoge,18,0x10b9dd394467f2cfbc769e07e88dc7e2c41b0965,RET,9
98,babydoge,0x2b2e926935dca93a9a10ce30bed87fd87cb92089,0.3,0x3b3abddc67c5dbea742c4d39b77faf0794ed7949,CHND,9,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18
99,babydoge,0x2bca13e7420aac419b1cade07ad6bb1e735e0f3e,0.3,0x55d398326f99059ff775485246999027b3197955,USDT,18,0xba2ae424d960c26247dd6c32edc70b295c744c43,DOGE,8

fee: https://docs.babydogeswap.com/babydoge-docs/products/swap/liquidity-pools

## ALL POOLs

In [ ]:
bsc_pool= pd.concat([apeswap_pools,biswap_pools, ellipsis_pools, pancakeswapv2_pools, pancakeswap_pools, sushiswap_pools, sushiswapv3_pools, uniswap_pools, thena_fusion_pools, thena_v1_pools], ignore_index=True)
bsc_pool

,Name,pool_address,tvl,fee,token1,token1_symbol,token1_decimals,token2,token2_symbol,token2_decimals
0,apeswap,0x4f263c2f03d8dcd7dea928de0224e34cebd9f03c,1476584.585284526832494784072883626,0.2,0x55d398326f99059ff775485246999027b3197955,USDT,18,0xd88ca08d8eec1e9e09562213ae83a7853ebb5d28,XWIN,18
1,apeswap,0x2e707261d086687470b515b320478eb1c88d49bb,746768.7442269483500647553156235727,0.2,0x55d398326f99059ff775485246999027b3197955,USDT,18,0xe9e7cea3dedca5984780bafc599bd69add087d56,BUSD,18
2,apeswap,0xf65c1c0478efde3c19b49ecbe7acc57bb6b1d713,603181.1784138764013437089531410891,0.2,0x603c7f932ed1fc6575303d8fb018fdcbb0f39a95,BANANA,18,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18
3,apeswap,0x51e6d27fa57373d8d4c256231241053a70cb1d93,516687.1748000223727816554461723913,0.2,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18,0xe9e7cea3dedca5984780bafc599bd69add087d56,BUSD,18
4,apeswap,0xc087c78abac4a0e900a327444193dbf9ba69058e,479997.4675427287611485309915416496,0.2,0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d,USDC,18,0xe9e7cea3dedca5984780bafc599bd69add087d56,BUSD,18
...,...,...,...,...,...,...,...,...,...,...
20466,thena_v1,0x7f17a57bb90d45ca66c58dc9e562fa93de9d84a4,0.00000000000000016701711728661916574359710479...,0.01,0x55d398326f99059ff775485246999027b3197955,USDT,18,0xcb5327ed4649548e0d73e70b633cdfd99af6da87,PRIMAL,18
20467,thena_v1,0x678c521e10bad0d451b16ddd23e5df9e7b05a70e,0.00000000000000011258588615972672864924271082...,0.01,0xa7266989b0df675cc8257d53b6bc1358faf6626a,IPAD,18,0xe9e7cea3dedca5984780bafc599bd69add087d56,BUSD,18
20468,thena_v1,0x35d7d65c65fb3105b838292f7692da414f1b45bf,0.00000000000000003050770994966494661984559806...,0.01,0xe9e7cea3dedca5984780bafc599bd69add087d56,BUSD,18,0xeba457b55fb145ff4451bc50fb6c373e5caa493f,SLM,18
20469,thena_v1,0xb95c58277dde24801c2a460bcea25a2d28a1591b,0,0.2,0x316622977073bbc3df32e7d2a9b3c77596a0a603,jBRL,18,0x71be881e9c5d4465b3fff61e89c6f3651e69b5bb,BRZ,4
20470,thena_v1,0x3d3f41d3faaa4f3e91f9dc65a2790f809e045bb7,0,0.2,0x2137bd42ad5bcce6f3fc36e0a74ec3bdd6484203,FFH,1,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,18

Warning: total number of rows (20471) exceeds max_rows (20000). Limiting to first (20000) rows.

In [ ]:
from google.colab import files
bsc_pool.to_csv('bsc_pool.csv', encoding = 'utf-8-sig', escapechar=',')
files.download('bsc_pool.csv')