In [ ]:
pip install gql[all]

In [1]:
import pandas as pd
import numpy as np
import json
import requests
import time
from tqdm import tqdm
from gql import gql, Client
from gql.transport.requests import RequestsHTTPTransport

In [2]:
transport = RequestsHTTPTransport(
    url='https://api.thegraph.com/subgraphs/name/sameepsi/quickswap-v3',
    verify=True,
    retries=3)

client = Client(
    transport = transport)

#First 1000 pool
query1 = gql('''
query {
  pools(first: 1000, orderBy: totalValueLockedUSD, orderDirection: desc) {
    id
    totalValueLockedUSD
    fee
    token0 {
      id
      symbol
      decimals
    }
    token1 {
      id
      symbol
      decimals
    }
  }
}
''')

response1 = client.execute(query1)
quickswap_pool1 = pd.json_normalize(response1['pools'],max_level=1)
quickswap_pool1

# pool 1001-2000
query2 = gql('''
query {
  pools(first: 1000,skip:1000, orderBy: totalValueLockedUSD, orderDirection: desc) {
    id
    totalValueLockedUSD
    fee
    token0 {
      id
      symbol
      decimals
    }
    token1 {
      id
      symbol
      decimals
    }
  }
}
''')

response2 = client.execute(query2)
quickswap_pool2 = pd.json_normalize(response2['pools'],max_level=1)

#Combination
quickswap_pools = pd.concat([quickswap_pool1,quickswap_pool2], ignore_index=True)
quickswap_pools.columns = ['pool_address','tvl','fee','token1','token1_symbol','token1_decimals','token2','token2_symbol','token2_decimals']
Name = pd.Series(["quickswap_v3" for x in range(len(quickswap_pools.index))])
quickswap_pools.insert(loc=0, column='Name', value=Name)
quickswap_pools['fee'] = quickswap_pools['fee'].apply(int)/10000

transport = RequestsHTTPTransport(
    url='https://api.thegraph.com/subgraphs/name/messari/uniswap-v3-polygon',
    verify=True,
    retries=3)

client = Client(
    transport = transport)

#First 1000 pool
query1 = gql('''
query {
        liquidityPools(orderBy: totalValueLockedUSD,
                                orderDirection: desc,
                                first: 1000){
            id
            fees {
              feePercentage
            }
            totalValueLockedUSD
            inputTokens {
              id
              symbol
              decimals
    }
  }
      }
''')

response1 = client.execute(query1)

df11 = pd.json_normalize(response1['liquidityPools'],max_level=1)
df12 = pd.json_normalize(df11['inputTokens'].apply(pd.Series)[0])
df13 = pd.json_normalize(df11['inputTokens'].apply(pd.Series)[1])
df14 = pd.json_normalize(df11['fees'].apply(pd.Series)[2])
uniswap_pool1 = pd.concat([df11[['id','totalValueLockedUSD']],df14,df12,df13],axis=1)

#pool 1001-2000
query2 = gql('''
query {
        liquidityPools(orderBy: totalValueLockedUSD,
                                orderDirection: desc,
                                first: 1000,
                                skip: 1000){
            id
            fees {
              feePercentage
            }
            totalValueLockedUSD
            inputTokens {
              id
              symbol
              decimals
    }
  }
      }
''')

response2 = client.execute(query2)

df21 = pd.json_normalize(response2['liquidityPools'],max_level=1)
df22 = pd.json_normalize(df21['inputTokens'].apply(pd.Series)[0])
df23 = pd.json_normalize(df21['inputTokens'].apply(pd.Series)[1])
df24 = pd.json_normalize(df21['fees'].apply(pd.Series)[2])
uniswap_pool2 = pd.concat([df21[['id','totalValueLockedUSD']],df24,df22,df23],axis=1)

#pool 2001-3000
query3 = gql('''
query {
        liquidityPools(orderBy: totalValueLockedUSD,
                                orderDirection: desc,
                                first: 1000,
                                skip: 2000){
            id
            fees {
              feePercentage
            }
            totalValueLockedUSD
            inputTokens {
              id
              symbol
              decimals
    }
  }
      }
''')

response3 = client.execute(query3)

df31 = pd.json_normalize(response3['liquidityPools'],max_level=1)
df32 = pd.json_normalize(df31['inputTokens'].apply(pd.Series)[0])
df33 = pd.json_normalize(df31['inputTokens'].apply(pd.Series)[1])
df34 = pd.json_normalize(df31['fees'].apply(pd.Series)[2])
uniswap_pool3 = pd.concat([df31[['id','totalValueLockedUSD']],df34,df32,df33],axis=1)

#pool 3001-4000
query4 = gql('''
query {
        liquidityPools(orderBy: totalValueLockedUSD,
                                orderDirection: desc,
                                first: 1000,
                                skip: 3000){
            id
            fees {
              feePercentage
            }
            totalValueLockedUSD
            inputTokens {
              id
              symbol
              decimals
    }
  }
      }
''')

response4 = client.execute(query4)

df41 = pd.json_normalize(response4['liquidityPools'],max_level=1)
df42 = pd.json_normalize(df41['inputTokens'].apply(pd.Series)[0])
df43 = pd.json_normalize(df41['inputTokens'].apply(pd.Series)[1])
df44 = pd.json_normalize(df41['fees'].apply(pd.Series)[2])
uniswap_pool4 = pd.concat([df41[['id','totalValueLockedUSD']],df44,df42,df43],axis=1)

#pool 4001-5000
query5 = gql('''
query {
        liquidityPools(orderBy: totalValueLockedUSD,
                                orderDirection: desc,
                                first: 1000,
                                skip: 4000){
            id
            fees {
              feePercentage
            }
            totalValueLockedUSD
            inputTokens {
              id
              symbol
              decimals
    }
  }
      }
''')

response5 = client.execute(query5)

df51 = pd.json_normalize(response5['liquidityPools'],max_level=1)
df52 = pd.json_normalize(df51['inputTokens'].apply(pd.Series)[0])
df53 = pd.json_normalize(df51['inputTokens'].apply(pd.Series)[1])
df54 = pd.json_normalize(df51['fees'].apply(pd.Series)[2])
uniswap_pool5 = pd.concat([df51[['id','totalValueLockedUSD']],df54,df52,df53],axis=1)

#pool 5001-6000
query6 = gql('''
query {
        liquidityPools(orderBy: totalValueLockedUSD,
                                orderDirection: desc,
                                first: 1000,
                                skip: 5000){
            id
            fees {
              feePercentage
            }
            totalValueLockedUSD
            inputTokens {
              id
              symbol
              decimals
    }
  }
      }
''')

response6 = client.execute(query6)

df61 = pd.json_normalize(response6['liquidityPools'],max_level=1)
df62 = pd.json_normalize(df61['inputTokens'].apply(pd.Series)[0])
df63 = pd.json_normalize(df61['inputTokens'].apply(pd.Series)[1])
df64 = pd.json_normalize(df61['fees'].apply(pd.Series)[2])
uniswap_pool6 = pd.concat([df61[['id','totalValueLockedUSD']],df64,df62,df63],axis=1)

#Combination
uniswap_pools = pd.concat([uniswap_pool1,uniswap_pool2,uniswap_pool3,uniswap_pool4,uniswap_pool5,uniswap_pool6], ignore_index=True)
uniswap_pools.columns = ['pool_address','tvl','fee','token1','token1_symbol','token1_decimals','token2','token2_symbol','token2_decimals']
Name = pd.Series(["uniswap_v3" for x in range(len(uniswap_pools.index))])
uniswap_pools.insert(loc=0, column='Name', value=Name)

transport = RequestsHTTPTransport(
    url='https://api.thegraph.com/subgraphs/name/messari/curve-finance-polygon',
    verify=True,
    retries=3)

client = Client(
    transport = transport)

#First 1000
query1 = gql('''
query {
        liquidityPools(orderBy: totalValueLockedUSD,
                                orderDirection: desc,
                                first: 1000){
            id
            totalValueLockedUSD
            fees {
              feePercentage
            }
            inputTokens {
              id
              symbol
              decimals
    }
  }
      }
''')

response1 = client.execute(query1)

df11 = pd.json_normalize(response1['liquidityPools'],max_level=1)
df12 = pd.json_normalize(df11['inputTokens'].apply(pd.Series)[0])
df13 = pd.json_normalize(df11['inputTokens'].apply(pd.Series)[1])
df14 = pd.json_normalize(df11['inputTokens'].apply(pd.Series)[2])
df15 = pd.json_normalize(df11['inputTokens'].apply(pd.Series)[3])
df16 = pd.json_normalize(df11['fees'].apply(pd.Series)[2])

curve_pools = pd.concat([df11[['id','totalValueLockedUSD']],df16,df12,df13,df14,df15],axis=1)
curve_pools.columns = ['pool_address','tvl','fee',
                       'token1','token1_symbol','token1_decimals',
                       'token2','token2_symbol','token2_decimals',
                       'token3','token3_symbol','token3_decimals',
                       'token4','token4_symbol','token4_decimals']
Name = pd.Series(["curve" for x in range(len(curve_pools.index))])
curve_pools.insert(loc=0, column='Name', value=Name)

transport = RequestsHTTPTransport(
    url='https://api.thegraph.com/subgraphs/name/balancer-labs/balancer-polygon-v2-beta',
    verify=True,
    retries=3)

client = Client(
    transport = transport)

#First 1000
query1 = gql('''
query {
  poolContracts(
    first: 1000
    orderBy: pool__createTime
    orderDirection: asc
  ) {
    id
    pool {
      swapFee
      poolType
      tokens {
        address
        symbol
        decimals
      }
    }
  }
}
''')

response1 = client.execute(query1)

df11 = pd.json_normalize(response1['poolContracts'],max_level=1)
df12 = df11['pool.tokens'].map(lambda x:[i['address'] for i in x]).apply(pd.Series)
num_columns12 = len(df12.columns)
df12.columns = ['token{}'.format(i) for i in range(1, num_columns12+1)]
df13 = df11['pool.swapFee']
df1 = pd.concat([df11[['id','pool.poolType']], df13, df12], axis=1)
df1 = df1.rename(columns = {'id':'pool_address','pool.swapFee':'fee'})

#1000-2000
query2 = gql('''
query {
  poolContracts(
    first: 1000
    orderBy: pool__createTime
    orderDirection: asc
    skip: 1000
  ) {
    id
    pool {
      swapFee
      poolType
      tokens {
        address
        symbol
        decimals
      }
    }
  }
}
''')

response2 = client.execute(query2)

df21 = pd.json_normalize(response2['poolContracts'],max_level=1)
df22 = df11['pool.tokens'].map(lambda x:[i['address'] for i in x]).apply(pd.Series)
num_columns22 = len(df22.columns)
df22.columns = ['token{}'.format(i) for i in range(1, num_columns22+1)]
df23 = df21['pool.swapFee']
df2 = pd.concat([df21[['id','pool.poolType']], df23, df22], axis=1)
df2 = df2.rename(columns = {'id':'pool_address','pool.swapFee':'fee'})

#2000-3000
query3 = gql('''
query {
  poolContracts(
    first: 1000
    orderBy: pool__createTime
    orderDirection: asc
    skip: 2000
  ) {
    id
    pool {
      swapFee
      poolType
      tokens {
        address
        symbol
        decimals
      }
    }
  }
}
''')

response3 = client.execute(query3)

df31 = pd.json_normalize(response3['poolContracts'],max_level=1)
df32 = df31['pool.tokens'].map(lambda x:[i['address'] for i in x]).apply(pd.Series)
num_columns32 = len(df32.columns)
df32.columns = ['token{}'.format(i) for i in range(1, num_columns32+1)]
df33 = df31['pool.swapFee']
df3 = pd.concat([df31[['id','pool.poolType']], df33, df32], axis=1)
df3 = df3.rename(columns = {'id':'pool_address','pool.swapFee':'fee'})

#3000-4000
query4 = gql('''
query {
  poolContracts(
    first: 1000
    orderBy: pool__createTime
    orderDirection: asc
    skip: 3000
  ) {
    id
    pool {
      swapFee
      poolType
      tokens {
        address
        symbol
        decimals
      }
    }
  }
}
''')

response4 = client.execute(query4)

df41 = pd.json_normalize(response4['poolContracts'],max_level=1)
df42 = df41['pool.tokens'].map(lambda x:[i['address'] for i in x]).apply(pd.Series)
num_columns42 = len(df42.columns)
df42.columns = ['token{}'.format(i) for i in range(1, num_columns42+1)]
df43 = df41['pool.swapFee']
df4 = pd.concat([df41[['id','pool.poolType']], df43, df42], axis=1)
df4 = df4.rename(columns = {'id':'pool_address','pool.swapFee':'fee'})

#Combination
balancer_pools = pd.concat([df1,df2,df3,df4], ignore_index=True)
Name = pd.Series(["balancer" for x in range(len(balancer_pools.index))])
balancer_pools.insert(loc=0, column='Name', value=Name)
balancer_pools['fee'] = balancer_pools['fee'].apply(float)
balancer_pools['fee'] = balancer_pools['fee'].mul(100)
x = ['ERC4626Linear','AaveLinear','LiquidityBootstrapping','YearnLinear']
balancer_pools = balancer_pools[~balancer_pools['pool.poolType'].isin(x)]
balancer_pools = balancer_pools.drop('pool.poolType',axis=1).reset_index(drop=True)

transport = RequestsHTTPTransport(
    url='https://api.thegraph.com/subgraphs/name/messari/sushiswap-polygon',
    verify=True,
    retries=3)

client = Client(
    transport = transport)

#First 1000 pool
query1 = gql('''
query {
        liquidityPools(orderBy: totalValueLockedUSD,
                                orderDirection: desc,
                                first: 1000){
            id
            totalValueLockedUSD
            fees {
              feePercentage
            }
            inputTokens {
              id
              symbol
              decimals
    }
  }
      }
''')

response1 = client.execute(query1)

df11 = pd.json_normalize(response1['liquidityPools'],max_level=1)
df12 = pd.json_normalize(df11['inputTokens'].apply(pd.Series)[0])
df13 = pd.json_normalize(df11['inputTokens'].apply(pd.Series)[1])
df14 = pd.json_normalize(df11['fees'].apply(pd.Series)[2])
sushi_pool1 = pd.concat([df11[['id','totalValueLockedUSD']],df14,df12,df13],axis=1)

#pool 1001-2000
query2 = gql('''
query {
        liquidityPools(orderBy: totalValueLockedUSD,
                                orderDirection: desc,
                                first: 1000,
                                skip:1000){
            id
            totalValueLockedUSD
            fees {
              feePercentage
            }
            inputTokens {
              id
              symbol
              decimals
    }
  }
      }
''')

response2 = client.execute(query2)

df21 = pd.json_normalize(response2['liquidityPools'],max_level=1)
df22 = pd.json_normalize(df21['inputTokens'].apply(pd.Series)[0])
df23 = pd.json_normalize(df21['inputTokens'].apply(pd.Series)[1])
df24 = pd.json_normalize(df21['fees'].apply(pd.Series)[2])
sushi_pool2 = pd.concat([df21[['id','totalValueLockedUSD']],df24,df22,df23],axis=1)

#pool 2001-3000
query3 = gql('''
query {
        liquidityPools(orderBy: totalValueLockedUSD,
                                orderDirection: desc,
                                first: 1000,
                                skip:2000){
            id
            totalValueLockedUSD
            fees {
              feePercentage
            }
            inputTokens {
              id
              symbol
              decimals
    }
  }
      }
''')

response3 = client.execute(query3)

df31 = pd.json_normalize(response3['liquidityPools'],max_level=1)
df32 = pd.json_normalize(df31['inputTokens'].apply(pd.Series)[0])
df33 = pd.json_normalize(df31['inputTokens'].apply(pd.Series)[1])
df34 = pd.json_normalize(df31['fees'].apply(pd.Series)[2])
sushi_pool3 = pd.concat([df31[['id','totalValueLockedUSD']],df34,df32,df33],axis=1)

#pool 3001-4000
query4 = gql('''
query {
        liquidityPools(orderBy: totalValueLockedUSD,
                                orderDirection: desc,
                                first: 1000,
                                skip:3000){
            id
            totalValueLockedUSD
            fees {
              feePercentage
            }
            inputTokens {
              id
              symbol
              decimals
    }
  }
      }
''')

response4 = client.execute(query4)

df41 = pd.json_normalize(response4['liquidityPools'],max_level=1)
df42 = pd.json_normalize(df41['inputTokens'].apply(pd.Series)[0])
df43 = pd.json_normalize(df41['inputTokens'].apply(pd.Series)[1])
df44 = pd.json_normalize(df41['fees'].apply(pd.Series)[2])
sushi_pool4 = pd.concat([df41[['id','totalValueLockedUSD']],df44,df42,df43],axis=1)

#pool 4001-5000
query5 = gql('''
query {
        liquidityPools(orderBy: totalValueLockedUSD,
                                orderDirection: desc,
                                first: 1000,
                                skip:4000){
            id
            totalValueLockedUSD
            fees {
              feePercentage
            }
            inputTokens {
              id
              symbol
              decimals
    }
  }
      }
''')

response5 = client.execute(query5)

df51 = pd.json_normalize(response5['liquidityPools'],max_level=1)
df52 = pd.json_normalize(df51['inputTokens'].apply(pd.Series)[0])
df53 = pd.json_normalize(df51['inputTokens'].apply(pd.Series)[1])
df54 = pd.json_normalize(df51['fees'].apply(pd.Series)[2])
sushi_pool5 = pd.concat([df51[['id','totalValueLockedUSD']],df54,df52,df53],axis=1)

#Combination
sushi_pool = pd.concat([sushi_pool1,sushi_pool2,sushi_pool3,sushi_pool4,sushi_pool5], ignore_index=True)
sushi_pool.columns = ['pool_address','tvl','fee',
                       'token1','token1_symbol','token1_decimals',
                       'token2','token2_symbol','token2_decimals']
Name = pd.Series(["sushiswap" for x in range(len(sushi_pool.index))])
sushi_pool.insert(loc=0, column='Name', value=Name)

transport = RequestsHTTPTransport(
    url='https://api.thegraph.com/subgraphs/name/messari/sushiswap-v3-polygon',
    verify=True,
    retries=3)

client = Client(
    transport = transport)

#First 1000 pool
query1 = gql('''
query {
        liquidityPools(orderBy: totalValueLockedUSD,
                                orderDirection: desc,
                                first: 1000){
            id
            totalValueLockedUSD
            fees {
              feePercentage
            }
            inputTokens {
              id
              symbol
              decimals
    }
  }
      }
''')

response1 = client.execute(query1)
response1

df11 = pd.json_normalize(response1['liquidityPools'],max_level=1)
df12 = pd.json_normalize(df11['inputTokens'].apply(pd.Series)[0])
df13 = pd.json_normalize(df11['inputTokens'].apply(pd.Series)[1])
df14 = pd.json_normalize(df11['fees'].apply(pd.Series)[2])
sushi_poolv3 = pd.concat([df11[['id','totalValueLockedUSD']],df14,df12,df13],axis=1)
sushi_poolv3.columns = ['pool_address','tvl','fee',
                         'token1','token1_symbol','token1_decimals',
                         'token2','token2_symbol','token2_decimals']
Name = pd.Series(["sushiswap_v3" for x in range(len(sushi_poolv3.index))])
sushi_poolv3.insert(loc=0, column='Name', value=Name)


transport = RequestsHTTPTransport(
    url='https://api.thegraph.com/subgraphs/name/messari/apeswap-polygon',
    verify=True,
    retries=3)

client = Client(
    transport = transport)

#First 1000 pool
query1 = gql('''
query {
        liquidityPools(orderBy: totalValueLockedUSD,
                                orderDirection: desc,
                                first: 1000){
            id
            totalValueLockedUSD
            fees {
              feePercentage
            }
            inputTokens {
              id
              symbol
              decimals
    }
  }
      }
''')

response1 = client.execute(query1)

df11 = pd.json_normalize(response1['liquidityPools'],max_level=1)
df12 = pd.json_normalize(df11['inputTokens'].apply(pd.Series)[0])
df13 = pd.json_normalize(df11['inputTokens'].apply(pd.Series)[1])
df14 = pd.json_normalize(df11['fees'].apply(pd.Series)[2])
apeswap_pool1 = pd.concat([df11[['id','totalValueLockedUSD']],df14,df12,df13],axis=1)

#pool 1001-2000
query2 = gql('''
query {
        liquidityPools(orderBy: totalValueLockedUSD,
                                orderDirection: desc,
                                first: 1000,
                                skip: 1000){
            id
            totalValueLockedUSD
            fees {
              feePercentage
            }
            inputTokens {
              id
              symbol
              decimals
    }
  }
      }
''')

response2 = client.execute(query2)

df21 = pd.json_normalize(response2['liquidityPools'],max_level=1)
df22 = pd.json_normalize(df21['inputTokens'].apply(pd.Series)[0])
df23 = pd.json_normalize(df21['inputTokens'].apply(pd.Series)[1])
df24 = pd.json_normalize(df21['fees'].apply(pd.Series)[2])
apeswap_pool2 = pd.concat([df21[['id','totalValueLockedUSD']],df24,df22,df23],axis=1)

#Combination
apeswap_pools = pd.concat([apeswap_pool1,apeswap_pool2], ignore_index=True)
apeswap_pools.columns = ['pool_address','tvl','fee',
                         'token1','token1_symbol','token1_decimals',
                         'token2','token2_symbol','token2_decimals']
Name = pd.Series(["apeswap" for x in range(len(apeswap_pools.index))])
apeswap_pools.insert(loc=0, column='Name', value=Name)
apeswap_pools


transport = RequestsHTTPTransport(
    url='https://api.thegraph.com/subgraphs/name/kybernetwork/kyberswap-elastic-matic',
    verify=True,
    retries=3)

client = Client(
    transport = transport)

#First 1000 pool
query = gql('''
query {
  pools(first: 100, orderBy: totalValueLockedUSD, orderDirection: desc) {
    id
    totalValueLockedUSD
    feeTier
    token0 {
      id
      symbol
      decimals
    }
    token1 {
      id
      symbol
      decimals
    }
  }
}
''')

response = client.execute(query)

df = pd.json_normalize(response['pools'],max_level=1)
kyberswap_pools=df
kyberswap_pools.columns = ['pool_address','tvl','fee',
                           'token1','token1_symbol','token1_decimals',
                           'token2','token2_symbol','token2_decimals']
Name = pd.Series(["kyberswap" for x in range(len(kyberswap_pools.index))])
kyberswap_pools.insert(loc=0, column='Name', value=Name)
kyberswap_pools['fee'] = kyberswap_pools['fee'].apply(int)/1000

transport = RequestsHTTPTransport(
    url='https://api.thegraph.com/subgraphs/name/unchase/dfyn-polygon',
    verify=True,
    retries=3)

client = Client(
    transport = transport)

#First 1000 pool
query1 = gql('''
query {
   pairs(first: 1000, skip: 0, orderBy: createdAtTimestamp, orderDirection: asc)
    {
      id
      token0 {
        id
        symbol
        decimals
      }
      token1 {
        id
        symbol
        decimals
      }
   }
}
''')

response1 = client.execute(query1)
dfyn_pool1 = pd.json_normalize(response1['pairs'],max_level=1)

#pool 1001-2000
query2 = gql('''
query {
   pairs(first: 1000, skip: 1000, orderBy: createdAtTimestamp, orderDirection: asc)
    {
      id
      token0 {
        id
        symbol
        decimals
      }
      token1 {
        id
        symbol
        decimals
      }
   }
}
''')

response2 = client.execute(query2)
dfyn_pool2 = pd.json_normalize(response2['pairs'],max_level=1)

dfyn_pools = pd.concat([dfyn_pool1,dfyn_pool2], ignore_index=True)
dfyn_pools.columns = ['pool_address',
                      'token1','token1_symbol','token1_decimals',
                      'token2','token2_symbol','token2_decimals']
Name = pd.Series(["dfyn" for x in range(len(dfyn_pools.index))])
dfyn_pools.insert(loc=0, column='Name', value=Name)
dfyn_pools.insert(loc=2, column='fee', value=0.3)

transport = RequestsHTTPTransport(
    url='https://api.thegraph.com/subgraphs/name/messari/honeyswap-polygon',
    verify=True,
    retries=3)

client = Client(
    transport = transport)

query1 = gql('''
query {
   liquidityPools(first: 1000, orderBy: totalValueLockedUSD, orderDirection: desc) {
    id
    totalValueLockedUSD
    fees {
      feePercentage
    }
    inputTokens {
      id
      symbol
      decimals
    }
  }
}
''')

response1 = client.execute(query1)

df11 = pd.json_normalize(response1['liquidityPools'],max_level=1)
df12 = pd.json_normalize(df11['inputTokens'].apply(pd.Series)[0])
df13 = pd.json_normalize(df11['inputTokens'].apply(pd.Series)[1])
df14 = pd.json_normalize(df11['fees'].apply(pd.Series)[2])

honeyswap_pool = pd.concat([df11[['id', 'totalValueLockedUSD']],df14,df12,df13],axis=1)

honeyswap_pool.columns = ['pool_address','tvl','fee',
                               'token1','token1_symbol','token1_decimals',
                               'token2','token2_symbol','token2_decimals']
Name = pd.Series(["honeyswap" for x in range(len(honeyswap_pool.index))])
honeyswap_pool.insert(loc=0, column='Name', value=Name)

transport = RequestsHTTPTransport(
    url='https://api.thegraph.com/subgraphs/name/unchase/jetswap-polygon',
    verify=True,
    retries=3)

client = Client(
    transport = transport)

#First 1000 pool
query1 = gql('''
query {
   pairs(first: 1000, orderBy: createdAtTimestamp, orderDirection: asc) {
    id
    token0 {
      id
      symbol
      decimals
    }
    token1 {
      id
      symbol
      decimals
    }
  }
}
''')

response1 = client.execute(query1)
jetswap_pool = pd.json_normalize(response1['pairs'],max_level=1)

jetswap_pool.columns = ['pool_address',
                               'token1','token1_symbol','token1_decimals',
                               'token2','token2_symbol','token2_decimals']
Name = pd.Series(["jetswap" for x in range(len(jetswap_pool.index))])
jetswap_pool.insert(loc=0, column='Name', value=Name)
jetswap_pool.insert(loc=2, column='fee', value=0.3)

all_pool= pd.concat([quickswap_pools, uniswap_pools, curve_pools, balancer_pools, sushi_pool, sushi_poolv3, apeswap_pools, kyberswap_pools, dfyn_pools, honeyswap_pool, jetswap_pool], ignore_index=True)
all_pool['tvl'] = all_pool['tvl'].fillna(0)
all_pool['fee'] = all_pool['fee'].apply(float)
all_pool['fee'] = all_pool['fee'].div(100)
pool_data = all_pool.copy()
polygon_pool = all_pool.copy()
polygon_pool['tvl'] = polygon_pool['tvl'].apply(float)
#polygon_pool = polygon_pool[polygon_pool['tvl'] > 200000].reset_index()
#polygon_pool = polygon_pool.sort_values(by=['tvl'], ascending=False)
final_pool = polygon_pool[['Name','pool_address','tvl','fee','token1','token2','token3','token4','token5','token6','token7','token8']]
#pool_id = final_pool.index + 1
#final_pool.insert(loc=0, column='pool_id', value=pool_id)

In [3]:
final_pool.to_csv('polygon_pool_0914.csv')
final_pool.to_json('polygon_pool_0914.json')

In [4]:
pool_token = all_pool[['token1', 'token2', 'token3', 'token4', 'token5', 'token6', 'token7', 'token8']]
token_melt = pd.melt(pool_token, value_name='all_token')
token_melt = token_melt.dropna()
token_all = token_melt.drop_duplicates(subset = 'all_token', ignore_index=True)
token_info = token_all[['all_token']]

In [5]:
token_info.to_csv('polygon_token_0914.csv')

In [6]:
url = "https://rpc.ankr.com/multichain/79258ce7f7ee046decc3b5292a24eb4bf7c910d7e39b691384c7ce0cfb839a01/?ankr_getTokenHolders="

rows = []

for i in tqdm(range(0, len(token_info))):
  payload = {
    "jsonrpc": "2.0",
    "method": "ankr_getTokenHolders",
    "params": {
        "blockchain": "polygon",
        "contractAddress": token_info.all_token[i],
        "pageSize": 1,
        "skipSyncCheck": True
      },
    "id": 1
  }
  headers = {
    "accept": "application/json",
    "content-type": "application/json"
  }

  response = requests.post(url, json=payload, headers=headers)
  time.sleep(1)
  if response.status_code == 200:
    data = json.loads(response.text)
    holder = data['result']['holdersCount']
    decimal = data['result']['tokenDecimals']
    address = data['result']['contractAddress']
    rows.append({'address': address, 'decimal': decimal, 'holder': holder})
token = pd.DataFrame(rows)
token_final = token.sort_values(by='holder', ascending=False).reset_index(drop = True)

  7%|▋         | 640/9596 [14:05<3:17:14,  1.32s/it]

KeyError: ignored

In [7]:
data

{'jsonrpc': '2.0',
 'id': 1,
 'error': {'code': -32602,
  'message': 'invalid params',
  'data': 'Validation error: failed to get token holders: not found token contract 0x093A2457cC95c3ed2e0FF44d91d382c54e948731 on polygon: no currency found'}}

In [8]:
token_list = ['0xa25d8e286d56adab20f9cf20b56646a6d7df2cee',
              '0x65c9e3289e5949134759119dbc9f862e8d6f2fbe',
              '0xcb186acb5139e1961ae0c269a4cbd743d630815f',
              '0x093A2457cC95c3ed2e0FF44d91d382c54e948731',
              '0xd9bb57439c33c905e84a564eb9997f5879019731',
              '0xb1163002c7cb1892d8b188580e9b7e92dc140a49',
              '0x759319ef25904bea0df6c25b7de03ac4d3e51040']

In [15]:
url = "https://rpc.ankr.com/multichain/79258ce7f7ee046decc3b5292a24eb4bf7c910d7e39b691384c7ce0cfb839a01/?ankr_getTokenHolders="

rows = []

for i in tqdm(range(0, len(token_list))):
  payload = {
    "jsonrpc": "2.0",
    "method": "ankr_getTokenHolders",
    "params": {
        "blockchain": "polygon",
        "contractAddress": token_list[i],
        "pageSize": 1,
        "skipSyncCheck": True
      },
    "id": 1
  }
  headers = {
    "accept": "application/json",
    "content-type": "application/json"
  }

  response = requests.post(url, json=payload, headers=headers)
  time.sleep(1)
  if response.status_code == 200:
    data = json.loads(response.text)
    for items in data:
      if 'result' in items:
        holder = data['result']['holdersCount']
        decimal = data['result']['tokenDecimals']
        address = data['result']['contractAddress']
        rows.append({'address': address, 'decimal': decimal, 'holder': holder})
test = pd.DataFrame(rows)

100%|██████████| 7/7 [00:09<00:00,  1.34s/it]

In [16]:
test

                                      address  decimal  holder
0  0xa25d8e286d56adab20f9cf20b56646a6d7df2cee       18     508
1  0x65c9e3289e5949134759119dbc9f862e8d6f2fbe       18      50
2  0xcb186acb5139e1961ae0c269a4cbd743d630815f        9    1648
3  0xd9bb57439c33c905e84a564eb9997f5879019731        8      82
4  0xb1163002c7cb1892d8b188580e9b7e92dc140a49       18    2061
5  0x759319ef25904bea0df6c25b7de03ac4d3e51040       18       2